<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_educate">{{'menu.main.Educate' | translate}}</a></li>
                <li>{{'menu.student.Categories.Detail.ClassListDes' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="row control-box">
    <div class="col-sm-10">
        <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'pageMain.iostudentlist.searchBox' | translate}}">></search-box>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="text-right">
            <button class="btn btn-primary" (click)="search()"><i class="fa fa-plus-circle"></i> {{'pageMain.iostudentlist.searchBox' | translate}}</button>
        </div>
    </div>
</div>
<div class="row control-box">
    <div class="col-sm-6">
        <div class="form-group has-feedback">
            <label class="control-label col-md-2">{{'label.classlist.Status' | translate}}</label>
            <div class="col-md-10">
                <select [(ngModel)]="statusId" class="form-control" 
                        data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="">
                    <option [value]="1">{{'label.classlist.AllFiles' | translate}}</option>
                    <option *ngFor="let grp of status" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                        {{grp.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group has-feedback">
            <label class="control-label col-md-2">{{'label.classlist.Supplier' | translate}}</label>
            <div class="col-md-10">
                <select [(ngModel)]="supplierId" class="form-control" 
                        data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="">
                    <option [value]="1">{{'label.classlist.AllFiles' | translate}}</option>
                    <option *ngFor="let grp of suppliers" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                        {{grp.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="table-wrapper">
    <div [@fadeInOut]>
        <!--DATA TABLE-->
        <ngx-datatable class="material colored-header sm table-hover"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [rowHeight]="auto"
                       [columns]="columns"
                       [scrollbarV]="verticalScrollbar"
                       [scrollbarH]="true"
                       [columnMode]="'force'">
        </ngx-datatable>

        <!-- TEMPLATEs -->
        <ng-template #statusHeaderTemplate>
            <i class="fa fa-check-square-o"></i>
        </ng-template>

        <ng-template #statusTemplate let-row="row" let-value="value">
            <span attr.title="{{value}}">
                {{value}}
            </span>
        </ng-template>

        <ng-template #nameTemplate let-row="row" let-value="value">
            <span attr.title="{{value}}">
                {{value}}
            </span>
        </ng-template>

        <ng-template #descriptionTemplate let-row="row" let-value="value">
            <span attr.title="{{value}}">
                {{value}}
            </span>
        </ng-template>
        <ng-template #totalPriceTemplate let-row="row" let-value="value">
            <span class="currency-pipe" attr.title="{{value | currencypipe}}">
                {{value}}
            </span>
        </ng-template>
        <ng-template #actionsTemplate let-row="row" let-value="value">
            <a class="btn btn-link btn-xs"
               routerLink="/classdetails/?id={{value}}" (click)="goDetails(template, row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{'button.Detail' | translate}}</a>
        </ng-template>
    </div>
</div>
<ng-template #template>

</ng-template>

