<header>
    <div class="row">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_stock">{{'mainMenu.mn-stocks' | translate}}</a></li>
                <li>{{'menu.stock.PurchaseOrderListDetailDes' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="row control-box">
    <div class="col-sm-8">
        <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'pageMain.iostudentlist.searchBox' | translate}}">></search-box>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="text-right">
            <search-chart [isShowSearch]="true" (searchTemplate)="search()"
                          [isShowAddNew]="false" (addNewTemplate)="addMessenger(template)"
                          [isShowExport]="rows?.length > 0" (exportExcelTemplate)="onOutputCSV()"
                          [isShowTemplate]="rows?.length > 0" (showTemplate)="showChart(template)"></search-chart>
        </div>
    </div>
</div>
<div class="row control-box">
    <div class="col-sm-6 no-pd-l">
        <div class="form-group has-feedback">
            <label class="control-label col-md-2">{{'label.deptslist.FromDate' | translate}}</label>
            <div class="col-md-10">
                <input class="form-control" type="text" bsDatepicker [(ngModel)]="fromDate">
            </div>
        </div>
    </div>

    <div class="col-sm-6 no-pd-r">
        <div class="form-group has-feedback">
            <label class="control-label col-md-2">{{'label.deptslist.ToDate' | translate}}</label>
            <div class="col-md-10">
                <input class="form-control" type="text" bsDatepicker [(ngModel)]="toDate">
            </div>
        </div>
    </div>
</div>

<div [@fadeInOut]>
    <!--DATA TABLE-->
    <ngx-datatable class="material colored-header sm table-hover row-pointer"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [columns]="columns"
                       [columnMode]="'force'"
                       [scrollbarV]="verticalScrollbar"
                       
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       (page)='setPage($event)'
                       (activate)="onActivateMaterial($event)"
                   >
    </ngx-datatable>
    <div [@fadeInOut]>
        <page-controller></page-controller>
    </div>
    <!-- TEMPLATEs -->
    <ng-template #statusHeaderTemplate>
        <i class="fa fa-check-square-o"></i>
    </ng-template>

    <ng-template #statusTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #nameTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #descriptionTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>
    <ng-template #totalPriceTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #actionsTemplate let-row="row">
        <a class="btn btn-link btn-xs" (click)="goDetails(templateNew, row)"
           *ngIf="accessRightService.isEdit('9ECBD467-7642-467B-AAE2-96484AD182A4')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'button.Detail' | translate}}</a>
    </ng-template>
</div>

<ng-template #template>
    <div class="modal-body">
        <statistics-chart [modalRef]="modalRef" [chart]="chart"></statistics-chart>
    </div>
</ng-template>

<ng-template #templateNew>
    <div class="modal-header">
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <purchaseorders [purchaseOrderId]="purchaseOrderId" [isShowHeader]="false"></purchaseorders>
</ng-template>