<header>
    <div class="row">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_categories">{{'menu.main.Categories' | translate}}</a></li>
                <li>{{'pageMain.material.header' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="row control-box">
    <div class="col-sm-9">
        <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'pageMain.material.searchBox' | translate}}">></search-box>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="accessRightService.isCreate('D7239078-E67A-42FA-86D6-4A8C3F73D544')">
        <div class="text-right">
            <search-chart [isShowSearch]="false" (searchTemplate)="search()"
                          [isShowAddNew]="true" (addNewTemplate)="addMaterial(template)"
                          [isShowExport]="rows?.length > 0" (exportExcelTemplate)="onOutputCSV()"
                          [isShowTemplate]="false" (showTemplate)="showChart(template)"></search-chart>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <div [@fadeInOut]>
        <!--DATA TABLE-->
        <ngx-datatable class="material colored-header sm table table-bordered table-responsive"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [columns]="columns"
                       [columnMode]="'force'"
                       [scrollbarV]="verticalScrollbar"
                       
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       (page)='setPage($event)'>
        </ngx-datatable>

        <!-- TEMPLATEs -->
        <ng-template #statusHeaderTemplate>
            <i class="fa fa-check-square-o"></i>
        </ng-template>

        <ng-template #nameTemplate let-row="row" let-value="value">
            <span attr.title="{{value}}">
                {{value}}
            </span>
        </ng-template>
        <ng-template #descriptionTemplate let-row="row" let-value="value">
            <span attr.title="{{value}}">
                {{value}}
            </span>
        </ng-template>
        <ng-template #priceTemplate let-row="row" let-value="value">

            <span class="currency-pipe" attr.title="{{value}}">
                {{value | currencypipe }}
            </span>
            <!--<input class="form-control" currencyMask type="tel" [(ngModel)]="{{value}}">-->

        </ng-template>
        
        <ng-template #actionsTemplate let-row="row" let-value="value">
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="editMaterial(template, row.id)"
               *ngIf="accessRightService.isEdit('D7239078-E67A-42FA-86D6-4A8C3F73D544')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{'button.Edit' | translate}}</a>
            |
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="delete(value)"
               *ngIf="accessRightService.isDelete('D7239078-E67A-42FA-86D6-4A8C3F73D544')"><i class="fa fa-trash-o" aria-hidden="true"></i>{{'button.Delete' | translate}}</a>
        </ng-template>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="branch-modalLabel">{{'label.material.HeaderAdd' | translate}}</h4>
    </div>

    <form class="form-horizontal" name="branchForm" #f="ngForm"
          novalidate
          (ngSubmit)="f.form.valid ? save() :
          (showErrorAlert('Input is required', 'Please enter at controls'));">
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.material.TypeMaterial' | translate}}</label>
                        <div class="col-md-8" [ngClass]="{'has-success': f.submitted && type.valid, 'has-error' : f.submitted && !type.valid}">
                            <select id="types-info" name="type" [(ngModel)]="pointer.typeMaterialId"
                                    class="form-control" required
                                    (change)="onChangeMaterial($event.target.value)"
                                    data-live-search="true" data-actions-box="false"
                                    data-live-search-placeholder="Search..."
                                    #type="ngModel" attr.id="type-{{uniqueId}}"
                                    title="{{'label.material.SelectTypeMaterial' | translate}}">
                                <option *ngFor="let type of allTypes"
                                        attr.data-content="<span title='{{type.note}}' class='badge'>{{type.name}}</span>"
                                        attr.value="{{type.id}}">
                                    {{type.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.material.GrpMaterial' | translate}}</label>
                        <div class="col-md-8" [ngClass]="{'has-success': f.submitted && type.valid, 'has-error' : f.submitted && !grp.valid}">
                            <select id="types-info" name="grp" [(ngModel)]="pointer.grpMaterialId" class="form-control" required
                                    data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." 
                                    #grp="ngModel" attr.id="grp-{{uniqueId}}"
                                    title="{{'label.material.SelectGrpMaterial' | translate}}">
                                <option *ngFor="let type of allGrps"
                                        attr.data-content="<span title='{{type.note}}' class='badge'>{{type.name}}</span>"
                                        attr.value="{{type.id}}">
                                    {{type.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.material.Code' | translate}}</label>
                        <div class="col-md-8" [ngClass]="{'has-success': f.submitted && code.valid, 'has-error' : f.submitted && !code.valid}">
                            <input type="text" class="form-control" [(ngModel)]="pointer.code" name="code" required
                                   #code="ngModel"
                                   attr.id="code-{{uniqueId}}" minlength="2" maxlength="200">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.material.Name' | translate}}</label>
                        <div class="col-md-8" [ngClass]="{'has-success': f.submitted && name.valid, 'has-error' : f.submitted && !name.valid}">
                            <input type="text" class="form-control" [(ngModel)]="pointer.name" name="name" required
                                   #name="ngModel"
                                   attr.id="name-{{uniqueId}}" minlength="2" maxlength="200">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.material.Unit' | translate}}</label>
                        <div class="col-md-8" [ngClass]="{'has-success': f.submitted && unit.valid, 'has-error' : f.submitted && !unit.valid}">
                            <select id="types-info" name="unit" [(ngModel)]="pointer.unitId"
                                    class="form-control" required
                                    data-live-search="true" data-actions-box="false"
                                    data-live-search-placeholder="Search..."
                                     #unit="ngModel" attr.id="unit-{{uniqueId}}"
                                    title="{{'label.material.SelectUnit' | translate}}">
                                <option *ngFor="let unit of allUnits"
                                        attr.data-content="<span title='{{unit.note}}' class='badge'>{{unit.name}}</span>"
                                        attr.value="{{unit.id}}">
                                    {{unit.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.material.Supplier' | translate}}</label>
                        <div class="col-md-8" [ngClass]="{'has-success': f.submitted && sup.valid, 'has-error' : f.submitted && !sup.valid}">
                            <select id="types-info" name="sup" [(ngModel)]="pointer.supplierId" 
                                     #sup="ngModel" attr.id="sup-{{uniqueId}}"
                                    class="form-control" required
                                    data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="{{'label.material.SelectSupplier' | translate}}">
                                <option *ngFor="let sup of allSups" attr.data-content="<span title='{{sup.note}}' class='badge'>{{sup.name}}</span>" attr.value="{{sup.id}}">
                                    {{sup.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="false" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.material.Price' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control" currencyMask type="tel" [(ngModel)]="pointer.price"
                                   name="price">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.material.SellPrice' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control" currencyMask type="tel" [(ngModel)]="pointer.sellPrice"
                                   name="sellPrice">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="false" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.material.WholePrice' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control" currencyMask type="tel" [(ngModel)]="pointer.wholePrice"
                                   name="wholePrice">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-2">{{'label.material.Note' | translate}}</label>
                        <div class="col-md-10">
                            <textarea class="form-control" [(ngModel)]="pointer.note"
                                      name="note"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()" data-dismiss="modal">{{'button.Close' | translate}}</button>
                <button type="submit" class="btn btn-primary" >{{'button.Save' | translate}}</button>
            </div>
        </div>
    </form>
</ng-template>

