<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_document">{{'menu.main.Document' | translate}}</a></li>
                <li>{{'pageMain.document.header' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="row control-box">

    <div class="col-sm-5">
        <div class="form-group has-feedback">
            <label for="pointer.email" class="control-label col-md-4">{{'label.document.GrpDocument' | translate}}</label>
            <div class="col-md-8">
                <select id="types-user-info" name="grp" [(ngModel)]="grpId" class="form-control"
                        data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..."
                        title="{{'label.document.GrpDocument' | translate}}">
                    >
                    <option [value]="1">{{'label.classlist.AllFiles' | translate}}</option>
                    <option *ngFor="let type of grps" attr.data-content="<span title='{{type.note}}' class='badge'>{{type.name}}</span>" attr.value="{{type.id}}">
                        {{type.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>


    <div class="col-sm-5">
        <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'pageMain.document.searchBox' | translate}}">></search-box>
        </div>
    </div>
    <div class="col-sm-2" *ngIf="accessRightService.isCreate('9C100588-C478-47C8-BE15-40523BB6BA1B')">
        <div class="text-right">
            <search-chart (searchTemplate)="search()"
                          [isShowAddNew]="true" (addNewTemplate)="addDocument(template)"
                          [isShowExport]="true" (exportExcelTemplate)="onOutputCSV()"></search-chart>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <div [@fadeInOut]>
        <!--DATA TABLE-->
        <ngx-datatable class="material colored-header sm table table-bordered table-responsive"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [columns]="columns"
                       [columnMode]="'force'"
                       [scrollbarV]="verticalScrollbar"
                       
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       (page)='setPage($event)'>
        </ngx-datatable>

        <!-- TEMPLATEs -->
        <ng-template #statusHeaderTemplate>
            <i class="fa fa-check-square-o"></i>
        </ng-template>

        <ng-template #statusTemplate let-row="row" let-value="value">
            <span attr.title="{{value}}">
                {{value}}
            </span>
        </ng-template>

        <ng-template #nameTemplate let-row="row" let-value="value">
            <span attr.title="{{value}}">
                {{value}}
            </span>
        </ng-template>

        <ng-template #descriptionTemplate let-row="row" let-value="value">
            <span attr.title="{{value}}">
                {{value}}
            </span>
        </ng-template>

        <ng-template #hyperlinkTemplate let-row="row" let-value="value">
            <a class="btn-link" href="{{row.path}}" target="_blank">{{value}}</a>
        </ng-template>

        <ng-template #actionsTemplate let-row="row" let-value="value">
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="editDocument(template, value)"
               *ngIf="accessRightService.isEdit('9C100588-C478-47C8-BE15-40523BB6BA1B')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'button.Edit' | translate}}</a>
            |
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteDocument(value)"
               *ngIf="accessRightService.isDelete('9C100588-C478-47C8-BE15-40523BB6BA1B')"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'button.Delete' | translate}}</a>
        </ng-template>
    </div>
</div>

<ng-template #template>

    <div class="modal-header">
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="branch-modalLabel">{{'label.document.HeaderAdd' | translate}}</h4>
    </div>

    <form class="form-horizontal" name="branchForm" #f="ngForm"
          novalidate
          (ngSubmit)="f.form.valid ? save() :
          (showErrorAlert('Input is required', 'Please enter at controls'));">
        <div class="modal-body">

            <div class="select-file">
                <p>{{file_name}}</p>
                <input type="file" id="avatar" style="display: none" (change)="onFileChange($event)" #fileInput name="avatar">
                <button type="button" class="btn btn-info" (click)="fileInputClick()">{{'label.document.SelectedFile' | translate}}</button>
                <button type="button" class="btn btn-default" (click)="clearFile()" [hidden]="!src">{{'label.document.DropFile' | translate}}</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">{{'label.document.GrpDocument' | translate}}</label>
                    <div [ngClass]="{'has-success': f.submitted && grp.valid, 'has-error' : f.submitted && !grp.valid}">
                        <select id="types-user-info" name="grp" [(ngModel)]="pointer.grpId" class="form-control" required
                                data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..."
                                #grp="ngModel" attr.id="grp-{{uniqueId}}"
                                title="{{'label.document.GrpDocument' | translate}}">
                            >
                            <option *ngFor="let type of grps" attr.data-content="<span title='{{type.note}}' class='badge'>{{type.name}}</span>" attr.value="{{type.id}}">
                                {{type.name}}
                            </option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label for="recipient-name" class="control-label">{{'label.document.Code' | translate}}</label>
                    <div [ngClass]="{'has-success': f.submitted && code.valid, 'has-error' : f.submitted && !code.valid}">
                        <input type="text" class="form-control" [(ngModel)]="pointer.code" name="code" required
                               #code="ngModel"
                               attr.id="code-{{uniqueId}}" minlength="2" maxlength="200">
                    </div>
                </div>
                <div class="form-group">
                    <label for="message-text" class="control-label">{{'label.document.Name' | translate}}</label>
                    <div [ngClass]="{'has-success': f.submitted && name.valid, 'has-error' : f.submitted && !name.valid}">
                        <input type="text" class="form-control" [(ngModel)]="pointer.name" name="name" required
                               #name="ngModel"
                               attr.id="name-{{uniqueId}}" minlength="2" maxlength="200">
                    </div>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">{{'label.document.Note' | translate}}</label>
                    <textarea class="form-control" [(ngModel)]="pointer.note" name="note"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()" data-dismiss="modal">{{'button.Close' | translate}}</button>
                <button type="submit" class="btn btn-primary">{{'button.Save' | translate}}</button>
            </div>
        </div>
    </form>

</ng-template>
