<header>
    <div class="row">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li>
                    <a routerLink="/mn_main_educate">{{'menu.main.Educate' | translate}}</a>
                </li>
                <li>{{'menu.student.Categories.Detail.ClassListDesTeacher' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="modal-body">
    <classlists [isUsageTeacher]="true"></classlists>
</div>