<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_accountant_main_accountant">{{'mainMenu.mn-finances' | translate}}</a></li>
            </ol>
        </div>
    </div>
</header>

<div [@fadeInOut]>
    <div class="statistic">
        <div class="row">
            <div class="col-lg-2 col-md-4 m-t text-center btn-manager">
                <a routerLink="/suppliercus" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-users icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.accountant.Customer' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.accountant.Customer' | translate}}"</small>
                    </span>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 m-t text-center btn-manager">
                <a routerLink="/supplieremps" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-user icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.accountant.Employee' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.accountant.Employee' | translate}}"</small>
                    </span>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 m-t text-center btn-manager">
                <a routerLink="/supplierteachs" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-user icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.accountant.Teacher' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.accountant.Teacher' | translate}}"</small>
                    </span>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 m-t text-center btn-manager">
                <a routerLink="/mn_accountant_promotion_accountant" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-tasks icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.accountant.Promotions' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.accountant.PromotionDes' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 m-t text-center btn-manager">
                <a routerLink="/mn_accountant_payment_accountant" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-tasks icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.accountant.Payment' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.accountant.PaymentDes' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 m-t text-center btn-manager">
                <a routerLink="/deptslist" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-suitcase icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.stock.Dept' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.stock.DeptDes' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 m-t text-center btn-manager">
                <a routerLink="/profitslist" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-money icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.accountant.Profit' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.accountant.Profit' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 m-t text-center btn-manager">
                <a routerLink="/mn_accountant_main_accountant" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-tasks icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.accountant.Report' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.accountant.ReportDes' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 m-t text-center btn-manager">
                <a routerLink="/depts" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-cogs icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.stock.UpdateDept' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.stock.UpdateDeptDes' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 m-t text-center btn-manager">
                <a routerLink="/profits" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-cogs icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.accountant.UpdateProfit' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.accountant.UpdateProfitDes' | translate}}"</small>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
