################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/ebrain.admin.bc/bin
/src/ebrain.admin.bc/obj
/src/ebrain.admin.web/bin
/src/ebrain.admin.web/Logs
/src/ebrain.admin.web/obj
/src/ebrain.admin.web/wwwroot/dist
/src/ebrain.api.web/bin
/src/ebrain.api.web/obj
/src/packages
src/ebrain.admin.web/node_modules/
/src/ebrain.admin.web/Properties/PublishProfiles
/src/node_modules/@types/file-saver
/src/ebrain.dinkToPdf/bin/Debug/DinkToPdf.1.0.8.nupkg
/src/ebrain.dinkToPdf/bin/Debug/netstandard1.6/DinkToPdf.deps.json
/src/ebrain.dinkToPdf/bin/Debug/netstandard1.6/DinkToPdf.dll
/src/ebrain.dinkToPdf/bin/Debug/netstandard1.6/DinkToPdf.pdb
/src/ebrain.dinkToPdf/bin/Debug/netstandard1.6/DinkToPdf.xml
/src/ebrain.dinkToPdf/obj/Debug/DinkToPdf.1.0.8.nuspec
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/DinkToPdf.AssemblyInfo.cs
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/DinkToPdf.AssemblyInfoInputs.cache
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/DinkToPdf.csproj.CoreCompileInputs.cache
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/DinkToPdf.csproj.FileListAbsolute.txt
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/DinkToPdf.csprojAssemblyReference.cache
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/DinkToPdf.dll
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/DinkToPdf.pdb
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/DinkToPdf.xml
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/ebrain.dinkToPdf/obj/Debug/netstandard1.6/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/ebrain.dinkToPdf/obj/DinkToPdf.csproj.nuget.cache
/src/ebrain.dinkToPdf/obj/DinkToPdf.csproj.nuget.g.props
/src/ebrain.dinkToPdf/obj/DinkToPdf.csproj.nuget.g.targets
/src/ebrain.dinkToPdf/obj/project.assets.json
