<div *ngIf="accessRightService.isViewFeatureGroup('d17a0d74-4684-48df-b2bc-d275f5e33914')">
    <header>
        <div class="row" style="padding-top: 15px;">
            <div class="col-xs-12" id="breadcrumb">
                <a class="show-sidebar pull-left" routerLink="/mn_main_document">
                    <i class="fa fa-bars"></i>
                </a>
                <ol class="breadcrumb pull-left">
                    {{'menu.main.Document' | translate}}
                </ol>
            </div>
        </div>
    </header>

    <div [@fadeInOut]>
        <div class="statistic">
            <div class="row">
                <div class="col-lg-3 col-md-6 m-t text-center btn-manager"
                     *ngIf="accessRightService.isViewFeature('9C100588-C478-47C8-BE15-40523BB6BA1A')">
                    <a routerLink="/grpdocuments" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-anchor text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.document.GrpDocument' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.document.GrpDocument' | translate}}"</small>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 m-t text-center btn-manager"
                     *ngIf="accessRightService.isViewFeature('9C100588-C478-47C8-BE15-40523BB6BA1B')">
                    <a routerLink="/documents" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-university text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.document.Document' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.document.Document' | translate}}"</small>
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
