<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                {{'menu.main.SMS' | translate}}
            </ol>
        </div>
    </div>
</header>

<div [@fadeInOut]>
    <div class="statistic">
        <div class="row">
            <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                <a routerLink="/sms" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-university icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.sms.SendSMS' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.sms.SendSMS' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                <a routerLink="/sms" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-user-o icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.sms.HistorySMS' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.sms.HistorySMS' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                <a routerLink="/messengers" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-comments icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.sms.Messenger' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.sms.Messenger' | translate}}"</small>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
