<div *ngIf="accessRightService.isViewFeatureGroup('d4b19636-158b-4bf0-a2cd-a83448510ce9')">
    <header>
        <div class="row" style="padding-top: 15px;">
            <div class="col-xs-12" id="breadcrumb">
                <a class="show-sidebar pull-left" routerLink="/">
                    <i class="fa fa-bars"></i>
                </a>
                <ol class="breadcrumb pull-left">
                    {{'menu.main.Educate' | translate}}
                </ol>
            </div>
        </div>
    </header>

    <div [@fadeInOut]>
        <div class="statistic">
            <div class="row">
                <div class="col-lg-3 col-md-6 m-t text-center btn-manager dropdown">
                    <a routerLink="/mn_main_educate" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-university icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.Category' | translate}}</span>
                            <small class="text-muted text-u-c">{{'menu.class.Category' | translate}}</small>
                        </span>
                    </a>
                    <div class="dropdown-content">
                        <div *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE9E')">
                            <a routerLink="/typemateriallearns">
                                <span class="fa fa-bandcamp"></span>
                                <span class="text-muted text-u-c"> {{'menu.class.Learning' | translate}} </span>
                            </a>
                        </div>
                        <div *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE91')">
                            <a routerLink="/grpmateriallearns">
                                <span class="fa fa-css3"></span>
                                <span class="text-muted text-u-c"> {{'menu.class.Levelclass' | translate}}</span>
                            </a>
                        </div>
                        <div *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE92')">
                            <a routerLink="/materiallearns">
                                <span class="fa fa-balance-scale"></span>
                                <span class="text-muted text-u-c"> {{'menu.class.MaterialLearn' | translate}}</span>
                            </a>
                        </div>
                        <div *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE93')">
                            <a routerLink="/shiftclasses">
                                <span class="fa fa-bell"></span>
                                <span class="text-muted text-u-c"> {{'menu.class.Shiftclass' | translate}}</span>
                            </a>
                        </div>
                        <div *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE97')">
                            <a routerLink="/consultants">
                                <span class="fa fa-bullhorn"></span>
                                <span class="text-muted text-u-c"> {{'menu.class.Consultant' | translate}} </span>
                            </a>
                        </div>
                        <div *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE94')">
                            <a routerLink="/examines">
                                <span class="fa fa-binoculars"></span>
                                <span class="text-muted text-u-c"> {{'menu.student.Categories.Detail.Examine' | translate}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 m-t text-center btn-manager dropdown">
                    <a routerLink="/mn_main_educate" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-black-tie icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.Operate' | translate}}</span>
                            <span class="text-muted text-u-c">{{'menu.class.Operate' | translate}}</span>
                        </span>
                    </a>
                    <div class="dropdown-content">
                        <div *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE95')">
                            <a routerLink="/classes">
                                <span class="fa fa-braille icon"></span>
                                <span class="text-muted text-u-c">{{'menu.student.Categories.Detail.Class' | translate}}</span>
                            </a>
                        </div>
                        <div  *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE96')">
                            <a routerLink="/classlists">
                                <span class="fa fa-braille icon"></span>
                                <span class="text-muted text-u-c">{{'menu.student.Categories.Detail.ClassList' | translate}}</span>
                            </a>
                        </div>
                        <div *ngIf="accessRightService.isViewFeature('8aa6b971-1c3d-4835-b154-d662ce12ae96')">
                            <a routerLink="/classliststeachers">
                                <span class="fa fa-braille icon"></span>
                                <span class="text-muted text-u-c">{{'menu.student.Categories.Detail.Teacher' | translate}}</span>
                            </a>
                        </div>
                        <div  *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE98')">
                            <a routerLink="/students">
                                <span class="fa fa-child icon"></span>
                                <span class="text-muted text-u-c">{{'menu.class.Student' | translate}}</span>
                            </a>
                        </div>
                        <div *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE99')">
                            <a routerLink="/iostudents">
                                <span class="fa fa-cubes icon"></span>
                                <span class="text-muted text-u-c">{{'menu.class.IOStudent' | translate}}</span>
                            </a>
                        </div>
                        <div  *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE12')">
                            <a routerLink="/iostudentlist">
                                <span class="fa fa-check-circle"></span>
                                <span class="text-muted text-u-c">{{'menu.class.IOStudentList' | translate}}</span>
                            </a>
                        </div>
                       <div *ngIf="accessRightService.isViewFeature('0e74bc15-9188-4cd9-9e39-d5b0c22be233')">
                     <a routerLink="/iostudentlistswaitingclass">
                                <span class="fa fa-user-circle icon"></span>
                                <span class="text-muted text-u-c">{{'menu.class.WaitingClass' | translate}}</span>
                            </a>
                        </div>

                        <div  *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE13')">
                            <a routerLink="/attendances" class="block padder-v hover">
                                <span class="fa fa fa-bar-chart-o"></span>
                                <span class="text-muted text-u-c">{{'menu.student.manage.CheckClass' | translate}}</span>
                            </a>
                        </div>
                        <div  *ngIf="accessRightService.isViewFeature('8aa6e971-1c3d-4835-b154-d662ce12be14')">
                            <a routerLink="/attendanceteaches" class="block padder-v hover">
                                <span class="fa fa fa-bar-chart-o"></span>
                                <span class="text-muted text-u-c">{{'menu.student.manage.Teacher' | translate}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 m-t text-center btn-manager dropdown">
                    <a routerLink="/mn_main_educate" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-university icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.Report' | translate}}</span>
                            <span class="text-muted text-u-c">{{'menu.class.Report' | translate}}</span>
                        </span>
                    </a>
                    <div class="dropdown-content">
                        <div *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE14')">
                            <a routerLink="/studentbirthdays">
                                <span class="fa fa-birthday-cake"></span>
                                <span class="text-muted text-u-c">{{'menu.student.manage.BirthdayStudent' | translate}}</span>
                            </a>
                        </div>
                        <div *ngIf="accessRightService.isViewFeature('8aa6e971-1c3d-4835-b154-d662ce12a100')">
                            <a routerLink="/studentendclass">
                                <span class="fa fa-expeditedssl"></span>
                                <span class="text-muted text-u-c">{{'label.student.EndClass' | translate}}</span>
                            </a>
                        </div>                       
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE9E')">
                    <a routerLink="/typemateriallearns" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-bandcamp icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.Learning' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.class.Learning' | translate}}"</small>
                        </span>
                    </a>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE91')">
                    <a routerLink="/grpmateriallearns" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-css3 icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.Levelclass' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.class.Levelclass' | translate}}"</small>
                        </span>
                    </a>                  
                </div>

                <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE92')">
                    <a routerLink="/materiallearns" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-balance-scale icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.MaterialLearn' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.class.MaterialLearn' | translate}}"</small>
                        </span>
                    </a>                 
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE93')">
                    <a routerLink="/shiftclasses" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-bell icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.Shiftclass' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.class.Shiftclass' | translate}}"</small>
                        </span>
                    </a>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE94')">
                    <a routerLink="/examines" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-binoculars icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.student.Categories.Detail.Examine' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.student.Categories.Detail.Examine' | translate}}"</small>
                        </span>
                    </a>
                </div> -->


                 <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE95')">
                    <a routerLink="/classes" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-black-tie icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.student.Categories.Detail.Class' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.student.Categories.Detail.Class' | translate}}"</small>
                        </span>
                    </a>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE96')">
                    <a routerLink="/classlists" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-braille icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.student.Categories.Detail.ClassList' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.student.Categories.Detail.ClassListDes' | translate}}"</small>
                        </span>
                    </a>
                </div> -->

                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8aa6b971-1c3d-4835-b154-d662ce12ae96')">
                    <a routerLink="/classliststeachers" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-braille icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.student.Categories.Detail.ClassList' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.student.Categories.Detail.Teacher' | translate}}"</small>
                        </span>
                    </a>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE97')">
                    <a routerLink="/consultants" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-bullhorn icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.Consultant' | translate}}</span>
                            <small class="text-muted text-u-c">"{{'menu.class.Consultant' | translate}}"</small>
                        </span>
                    </a>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE98')">
                    <a routerLink="/students" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-child text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.Student' | translate}}</span>
                            <small class="text-muted text-u-c">{{'menu.class.Student' | translate}}</small>
                        </span>
                    </a>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE99')">
                    <a routerLink="/iostudents" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-cubes icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.IOStudent' | translate}}</span>
                            <small class="text-muted text-u-c">{{'menu.class.IOStudent' | translate}}</small>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE12')">
                    <a routerLink="/iostudentlist" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-check-circle icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.IOStudentList' | translate}}</span>
                            <small class="text-muted text-u-c">{{'menu.class.IOStudentList' | translate}}</small>
                        </span>
                    </a>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('0e74bc15-9188-4cd9-9e39-d5b0c22be233')">
                    <a routerLink="/iostudentlistswaitingclass" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa-user-circle icon text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.class.WaitingClass' | translate}}</span>
                            <small class="text-muted text-u-c">{{'menu.class.WaitingClass' | translate}}</small>
                        </span>
                    </a>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE13')">
                    <a routerLink="/attendances" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa fa-bar-chart-o text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.student.manage.CheckClass' | translate}}</span>
                            <small class="text-muted text-u-c">{{'menu.student.manage.CheckClass' | translate}}</small>
                        </span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 m-t text-center btn-manager" *ngIf="accessRightService.isViewFeature('8aa6e971-1c3d-4835-b154-d662ce12be14')">
                    <a routerLink="/attendanceteaches" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="fa fa fa-bar-chart-o text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.student.manage.CheckClass' | translate}}</span>
                            <small class="text-muted text-u-c">{{'menu.student.manage.Teacher' | translate}}</small>
                        </span>
                    </a>
                </div> -->

                <!-- <div class="col-lg-3 col-md-6 m-t text-center btn-manager>" *ngIf="accessRightService.isViewFeature('8AA6E971-1C3D-4835-B154-D662CE12AE14')">
                    <a routerLink="/studentbirthdays" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"> </i>
                            <i class="fa fa-birthday-cake text-white" id="countbirthday" runat="server"> 0</i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'menu.student.manage.BirthdayStudent' | translate}}</span>
                            <small class="text-muted text-u-c">{{'menu.student.manage.BirthdayStudent' | translate}}</small>
                        </span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 m-t text-center btn-manager>" *ngIf="accessRightService.isViewFeature('8aa6e971-1c3d-4835-b154-d662ce12a100')">
                    <a routerLink="/studentendclass" class="block padder-v hover">
                        <span class="i-s i-s-2x">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"> </i>
                            <i class="fa fa-expeditedssl text-white" id="countbirthday"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-warning">{{'label.student.EndClass' | translate}}</span>
                            <small class="text-muted text-u-c">{{'label.student.EndClass' | translate}}</small>
                        </span>
                    </a>
                </div> -->

            </div>
        </div>
    </div>
</div>