<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_educate">{{'menu.main.Educate' | translate}}</a></li>
                <li>{{'pageMain.materialLearn.header' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="row control-box">
    <div class="col-sm-9">
        <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'pageMain.materialLearn.searchBox' | translate}}">></search-box>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="accessRightService.isCreate('8AA6E971-1C3D-4835-B154-D662CE12AE92')">
        <div class="text-right">
            <search-chart [isShowSearch]="false" (searchTemplate)="search()"
                          [isShowAddNew]="true" (addNewTemplate)="addMaterialLearn(template)"
                          [isShowExport]="rows?.length > 0" (exportExcelTemplate)="onOutputCSV()"
                          [isShowTemplate]="false" (showTemplate)="showChart(template)"></search-chart>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <div [@fadeInOut]>
        <!--DATA TABLE-->
        <ngx-datatable class="material colored-header sm table table-bordered table-responsive"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [columns]="columns"
                       [columnMode]="'force'"
                       [scrollbarV]="verticalScrollbar"
                       
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       (page)='setPage($event)'>
        </ngx-datatable>

        <!-- TEMPLATEs -->
        <ng-template #statusHeaderTemplate>
            <i class="fa fa-check-square-o"></i>
        </ng-template>

        <ng-template #nameTemplate let-row="row" let-value="value">
            <span attr.title="{{value}}">
                {{value}}
            </span>
        </ng-template>

        <ng-template #descriptionTemplate let-row="row" let-value="value">
            <span attr.title="{{value}}">
                {{value}}
            </span>
        </ng-template>
        <ng-template #actionsTemplate let-row="row" let-value="value">
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="editMaterialLearn(template, value)"
               *ngIf="accessRightService.isEdit('8AA6E971-1C3D-4835-B154-D662CE12AE92')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{'button.Edit' | translate}}</a>
            |
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteMaterialLearn(value)"
               *ngIf="accessRightService.isDelete('8AA6E971-1C3D-4835-B154-D662CE12AE92')"><i class="fa fa-trash-o" aria-hidden="true"></i>{{'button.Delete' | translate}}</a>
        </ng-template>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="branch-modalLabel">{{'label.materialLearn.HeaderAdd' | translate}}</h4>
    </div>

    <form class="form-horizontal" name="branchForm" #f="ngForm"
          novalidate
          (ngSubmit)="f.form.valid ? save() :
          (showErrorAlert('Input is required', 'Please enter at controls'));">

        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.Code' | translate}}</label>
                        <div class="col-md-8" [ngClass]="{'has-success': f.submitted && code.valid, 'has-error' : f.submitted && !code.valid}">
                            <input type="text" class="form-control" [(ngModel)]="pointer.code" name="code" required
                                   #code="ngModel"
                                   attr.id="code-{{uniqueId}}" minlength="2" maxlength="200">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.Name' | translate}}</label>
                        <div class="col-md-8" [ngClass]="{'has-success': f.submitted && name.valid, 'has-error' : f.submitted && !name.valid}">
                            <input type="text" class="form-control" [(ngModel)]="pointer.name" name="name" required
                                   #name="ngModel"
                                   attr.id="name-{{uniqueId}}" minlength="2" maxlength="200">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.Learning' | translate}}</label>
                        <div class="col-md-8" [ngClass]="{'has-success': f.submitted && type.valid, 'has-error' : f.submitted && !type.valid}">
                            <select name="type" [(ngModel)]="pointer.typeMaterialId"
                                    class="form-control" required
                                    #type="ngModel" attr.id="type-{{uniqueId}}"
                                    (change)="onChangeMaterialLearn($event.target.value)"
                                    data-live-search="true" data-actions-box="false"
                                    data-live-search-placeholder="Search..."
                                    title="{{'label.materialLearn.SelectLearning' | translate}}">
                                <option *ngFor="let type of allTypes"
                                        attr.data-content="<span title='{{type.note}}' class='badge'>{{type.name}}</span>"
                                        attr.value="{{type.id}}">
                                    {{type.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.LevelClass' | translate}}</label>
                        <div class="col-md-8" [ngClass]="{'has-success': f.submitted && grp.valid, 'has-error' : f.submitted && !grp.valid}">
                            <select name="grp" class="form-control" required
                                    [(ngModel)]="pointer.grpMaterialId"
                                    #grp="ngModel" attr.id="grp-{{uniqueId}}"
                                    data-live-search="true" data-actions-box="false" 
                                    data-live-search-placeholder="Search..." 
                                    title="{{'label.materialLearn.SelectLevelClass' | translate}}">
                                <option *ngFor="let type of allgrps"
                                        attr.data-content="<span title='{{type.note}}' class='badge'>{{type.name}}</span>"
                                        attr.value="{{type.id}}">
                                    {{type.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.NumberHourse' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="number" min="0" max="99999" [(ngModel)]="pointer.numberHourse"
                                   name="hourse">
                        </div>
                    </div>
                </div>

                <!--<div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.Price' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control" [(ngModel)]="pointer.price">
                        </div>
                        </div>
                </div>-->
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.Price' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control" currencyMask type="tel" [(ngModel)]="pointer.sellPrice"
                                   name="sellPrice">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.MaskPassCourse' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control text-right" type="number" min="0" max="99999" style=""
                                   [(ngModel)]="pointer.maskPassCourse"
                                   name="maskPassCourse">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.CalBeCourse' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" [(ngModel)]="pointer.calBeCourse"
                                   name="calBeCourse">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.SpBeCourse' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" [(ngModel)]="pointer.spBeCourse"
                                   name="spBeCourse">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.CalEnCourse' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" [(ngModel)]="pointer.calEnCourse"
                                   name="calEnCourse">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">{{'label.materialLearn.SpEnCourse' | translate}}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" [(ngModel)]="pointer.spEnCourse"
                                   name="spEnCourse">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-2">{{'label.materialLearn.Note' | translate}}</label>
                        <div class="col-md-10">
                            <textarea class="form-control" [(ngModel)]="pointer.note" name="note"
                                      ></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()" data-dismiss="modal">{{'button.Close' | translate}}</button>
                <button type="submit" class="btn btn-primary">{{'button.Save' | translate}}</button>
            </div>
        </div>
    </form>
</ng-template>

