<div >
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{'label.home.AllStudent' | translate}}</span>
                <span class="info-box-number">{{allStudent}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-personadd-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{'label.home.NewStudent' | translate}}</span>
                <span class="info-box-number">{{newStudent}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-social-buffer-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{'label.home.AllIO' | translate}}</span>
                <span class="info-box-number">{{ioAll}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-social-dropbox-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{'label.home.NewIO' | translate}}</span>
                <span class="info-box-number">{{ioNew}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>