<div>
    <div class="row control-box">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="form-group search-box">
                <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'roles.management.Search' | translate}}">></search-box>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-right">
                <button class="btn btn-info" (click)="newUser(row)"><i class="fa fa-plus-circle"></i> {{'users.management.NewUser' | translate}}</button>
                <button *ngIf="canManageRoles" class="btn btn-primary" (click)="newRole(row)"><i class="fa fa-plus-circle"></i> {{'roles.management.NewRole' | translate}}</button>
            </div>
        </div>
    </div>

    <ngx-datatable class="material fullscreen colored-header sm table-hover table-responsive"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="'auto'"
                   [footerHeight]="35"
                   [columns]="columns"
                   [columnMode]="'force'">
    </ngx-datatable>

    <ng-template #indexTemplate let-value="value">
        <strong>{{value}}</strong>
    </ng-template>


    <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
        <a *ngIf="canManageRoles" class="btn btn-link btn-xs" href="javascript:;" (click)="editRole(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'roles.management.Edit' | translate}}</a>
        <a *ngIf="!canManageRoles" class="btn btn-link btn-xs" href="javascript:;" (click)="editRole(row)"><i class="fa fa-eye" aria-hidden="true"></i> {{'roles.management.Details' | translate}}</a>
        {{canManageRoles ? '|' : ''}}
        <a *ngIf="canManageRoles" class="btn btn-link btn-xs" href="javascript:;" (click)="deleteRole(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'roles.management.Delete' | translate}}</a>
    </ng-template>


    <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="!canManageRoles" class="modal-title pull-left"><i class="fa fa-shield"></i> {{'roles.management.RoleDetails' | translate}} "{{editingRoleName}}"</h4>
                    <h4 *ngIf="canManageRoles" class="modal-title pull-left"><i class="fa fa-shield"></i> {{editingRoleName ? ('roles.management.EditRole' | translate:editingRoleName) : ('roles.management.NewRole' | translate)}}</h4>
                    <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <role-editor #roleEditor></role-editor>
                </div>
            </div>
        </div>
    </div>
</div>
