.search-box {
    position: relative;
}

.search-box label {
    position: absolute;
    height: 34px;
    padding: 8px;
}

.search-box input#searchInput {
    padding: 0 30px;
}

.search-box a.right-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.search-icon {
    pointer-events: none;
}
.chart-container {
    display: block;
}

.table-container {
}


.refresh-btn {
    margin-right: 10px;
}

.chart-type-container {
    display: inline-block;
}


li.active2 {
    background-color: #e8e8e8;
}