<div class="form-horizontal">

    <form class="form-horizontal" name="branchForm" #f="ngForm"
          novalidate
          (ngSubmit)="f.form.valid ? save() :
          (showErrorAlert('Input is required', 'Please enter at controls'));">

        <div class="text-right">
            <button type="button" class="btn btn-primary" (click)="save()">
                <span class="glyphicon glyphicon-floppy-disk"></span> {{'button.Save' | translate}}
            </button>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!--DATA TABLE-->
                <ngx-datatable class="material colored-header sm table-hover"
                               [loadingIndicator]="loadingIndicator"
                               [rows]="rows"
                               [rowHeight]="auto"
                               [columns]="columns"
                               [scrollbarV]="verticalScrollbar"
                               [columnMode]="'force'">
                </ngx-datatable>

                <!-- TEMPLATEs -->
                <ng-template #statusHeaderTemplate>
                    <i class="fa fa-check-square-o"></i>
                </ng-template>

                <ng-template #markTemplate let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <input class="currency-pipe" value="{{value| currencypipe}}"
                           autofocus
                           (blur)="updateValue(row,$event,rowIndex)" />

                </ng-template>
                <!--<ng-template #actionsTemplate let-row="row">
                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteClasses(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'button.Delete' | translate}}</a>
                </ng-template>-->
            </div>
        </div>
    </form>
</div>