<header>
    <div class="row">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_accountant">{{'menu.main.Accountant' | translate}}</a></li>
                <li>{{'menu.accountant.UpdateProfitDes' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="control-box">

    <div class="row">
        <div class="col-sm-5 no-pd-l">
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">{{'label.inventorieslist.FromDate' | translate}}</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" bsDatepicker [(ngModel)]="fromDate">
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">{{'label.inventorieslist.ToDate' | translate}}</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" bsDatepicker [(ngModel)]="toDate">
                </div>
            </div>
        </div>
        <div class="col-sm-2" *ngIf="accessRightService.isCreate('376F3FFE-408A-49A8-B0EA-B69654E11B38')">
            <div class="text-right">
                <button class="btn btn-primary" (click)="updated()"><i class="fa fa-plus-circle"></i> {{'button.Update' | translate}}</button>
            </div>
        </div>
    </div>
</div>

