<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_educate">{{'menu.main.Educate' | translate}}</a></li>
                <li>{{'menu.student.Categories.Detail.Examine' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="row control-box">
    <div class="col-sm-10">
        <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'pageMain.examine.searchBox' | translate}}">></search-box>
        </div>
    </div>
    <div class="col-sm-2" *ngIf="accessRightService.isCreate('8AA6E971-1C3D-4835-B154-D662CE12AE94')">
        <div class="text-right dd">
            <button class="btn btn-primary" (click)="addExamine(template)"><i class="fa fa-plus-circle"></i> {{'pageMain.examine.newExamine' | translate}}</button>
        </div>
    </div>
</div>

<div [@fadeInOut]>
    <!--DATA TABLE-->
    <ngx-datatable class="material colored-header sm table table-bordered table-responsive"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [columns]="columns"
                       [columnMode]="'force'"
                       [scrollbarV]="verticalScrollbar"
                       [scrollbarH]="true"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       (page)='setPage($event)'>
    </ngx-datatable>

    <!-- TEMPLATEs -->
    <ng-template #statusHeaderTemplate>
        <i class="fa fa-check-square-o"></i>
    </ng-template>

    <ng-template #statusTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #nameTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #descriptionTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>
    <ng-template #actionsTemplate let-row="row">
        <a class="btn btn-link btn-xs" href="javascript:;" (click)="edit(template, row.id)"
           *ngIf="accessRightService.isEdit('8AA6E971-1C3D-4835-B154-D662CE12AE94')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'button.Edit' | translate}}</a>
        |
        <a class="btn btn-link btn-xs" href="javascript:;" (click)="delete(row)"
           *ngIf="accessRightService.isDelete('8AA6E971-1C3D-4835-B154-D662CE12AE94')"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'button.Delete' | translate}}</a>
    </ng-template>
</div>

<ng-template #template>
    <div class="modal-header">
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="branch-modalLabel">{{'label.examine.HeaderAdd' | translate}}</h4>
    </div>

    <form class="form-horizontal" name="branchForm" #f="ngForm"
          novalidate
          (ngSubmit)="f.form.valid ? save() :
          (showErrorAlert('Input is required', 'Please enter at controls'));">

        <div class="modal-body">
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">{{'label.examine.Code' | translate}}</label>
                    <div [ngClass]="{'has-success': f.submitted && code.valid, 'has-error' : f.submitted && !code.valid}">
                        <input type="text" class="form-control" [(ngModel)]="pointer.code" required name="code"
                               #code="ngModel"
                               attr.id="code-{{uniqueId}}" minlength="2" maxlength="200">

                    </div>
                </div>
                <div class="form-group">
                    <label for="message-text" class="control-label">{{'label.examine.Name' | translate}}</label>
                    <div [ngClass]="{'has-success': f.submitted && code.valid, 'has-error' : f.submitted && !name.valid}">
                        <input type="text" class="form-control" [(ngModel)]="pointer.name" required name="name"
                               #name="ngModel" attr.id="name-{{uniqueId}}" minlength="2" maxlength="200">
                    </div>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">{{'label.examine.Note' | translate}}</label>
                    <textarea class="form-control" [(ngModel)]="pointer.note" name="note"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()" data-dismiss="modal">{{'button.Close' | translate}}</button>
                <button type="submit" class="btn btn-primary">{{'button.Save' | translate}}</button>
            </div>
        </div>

    </form>
</ng-template>

