<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_sms">{{'menu.main.SMS' | translate}}</a></li>
                <li>{{'pageMain.messenger.header' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<messengerlists [IsSendMessenger]="isSendMessenger"></messengerlists>
