<header>
    <div class="row">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_student_main_student">{{'mainMenu.mn-students' | translate}}</a></li>
                <li><a routerLink="/mn_student_categories">{{'menu.student.Categories.Header' | translate}}</a></li>
                <li>{{'menu.student.Categories.Detail.Learning' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div [@fadeInOut]>
    <div class="statistic">
        <div class="row">
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/typemateriallearns" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-tasks icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.Categories.Detail.Learning' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.student.Categories.Detail.Learning' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/grpmateriallearns" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-level-up icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.Categories.Detail.Levelclass' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.student.Categories.Detail.Levelclass' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/materiallearns" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-graduation-cap icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.Categories.Detail.MaterialLearn' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.student.Categories.Detail.MaterialLearn' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/examines" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-file-text icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.Categories.Detail.Examine' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.student.Categories.Detail.Examine' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/consultants" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-building-o  icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.Categories.Detail.Consult' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.student.Categories.Detail.Consult' | translate}}"</small>
                    </span>
                </a>
            </div>
           
        </div>
    </div>
</div>
