<header *ngIf="isShowHeader">
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li>
                    <a routerLink="/mn_main_educate">{{'menu.main.Educate' | translate}}</a>
                </li>
                <li>{{'pageMain.class.header' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="control-box classes">
    <form class="form-horizontal" name="branchForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? save() :
          (showErrorAlert('Input is required', 'Please enter at controls'));">

        <div class="control-box classes">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right">
                        <button type="button" class="btn btn-success" (click)="addnew()" *ngIf="accessRightService.isCreate('8AA6E971-1C3D-4835-B154-D662CE12AE95')">
                            <span class="glyphicon glyphicon-plus"></span> {{'button.AddNew' | translate}}
                        </button>

                        <button type="submit" class="btn btn-primary" *ngIf="accessRightService.isEdit('8AA6E971-1C3D-4835-B154-D662CE12AE95')">
                            <span class="glyphicon glyphicon-floppy-disk"></span> {{'button.Save' | translate}}
                        </button>
                        <button *ngIf="pointer.id?.length > 0 && accessRightService.isDelete('8AA6E971-1C3D-4835-B154-D662CE12AE95')" type="button"
                                class="btn btn-warning" (click)="deletemaster()">
                            <span class="glyphicon 	glyphicon glyphicon-removes"></span> {{'button.Delete' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{'label.class.General' | translate}}</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2">{{'label.class.Code' | translate}}</label>
                                    <div class="col-md-10" [ngClass]="{'has-success': f.submitted && code.valid, 'has-error' : f.submitted && !code.valid}">
                                        <input class="form-control" type="text" [(ngModel)]="pointer.code" name="code" required #code="ngModel" attr.id="code-{{uniqueId}}"
                                               minlength="2" maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2">{{'label.class.Name' | translate}}</label>
                                    <div class="col-md-10" [ngClass]="{'has-success': f.submitted && name.valid, 'has-error' : f.submitted && !name.valid}">
                                        <input class="form-control" type="text" [(ngModel)]="pointer.name" name="name" required #name="ngModel" attr.id="name-{{uniqueId}}"
                                               minlength="2" maxlength="200">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2">{{'label.class.TeacherMain' | translate}}</label>
                                    <div class="col-md-10" [ngClass]="{'has-success': f.submitted && supplier.valid, 'has-error' : f.submitted && !supplier.valid}">
                                        <select id="grps-user-info" name="supplier" [(ngModel)]="pointer.supplierId" class="form-control" required data-live-search="true"
                                                data-actions-box="false" data-live-search-placeholder="Search..." title="" #supplier="ngModel"
                                                attr.id="supplier-{{uniqueId}}">
                                            <option *ngFor="let grp of suppliers" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                                {{grp.name}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2">{{'label.class.CountLearn' | translate}}</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" [(ngModel)]="pointer.longLearn" name="longLearn">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2">{{'label.class.Status' | translate}}</label>
                                    <div class="col-md-10">
                                        <select id="grps-user-info" name="status" [(ngModel)]="pointer.statusId" class="form-control" required data-live-search="true"
                                                data-actions-box="false" data-live-search-placeholder="Search..." title="">
                                            <option *ngFor="let grp of status" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                                {{grp.name}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2">{{'label.class.CountClass' | translate}}</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" [(ngModel)]="pointer.maxStudent" name="maxStudent">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                            </div>
                        </div>

                        <div class="row">

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-1">{{'label.class.Note' | translate}}</label>
                                    <div class="col-md-11 pd-l-10">
                                        <textarea class="form-control" [(ngModel)]="pointer.note" name="note"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />

            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">{{'label.class.TimeClass' | translate}}</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">

                        <!--<div class="col-md-6 no-pd">-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2">{{'label.class.Today' | translate}}</label>
                                    <div class="col-md-10">
                                        <select id="grps-user-info" name="today" [(ngModel)]="pointer.todayId" class="form-control" data-live-search="true" data-actions-box="false"
                                                data-live-search-placeholder="Search..." title="">
                                            <option *ngFor="let grp of todays" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                                {{grp.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2">{{'label.class.Shift' | translate}}</label>
                                    <div class="col-md-10">
                                        <select id="grps-user-info" name="shift" [(ngModel)]="pointer.shiftId" class="form-control" data-live-search="true" data-actions-box="false"
                                                data-live-search-placeholder="Search..." title="">
                                            <option *ngFor="let grp of shifts" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                                {{grp.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2">{{'label.class.Room' | translate}}</label>
                                    <div class="col-md-10">
                                        <select id="grps-user-info" name="room" [(ngModel)]="pointer.roomId" class="form-control" data-live-search="true" data-actions-box="false"
                                                data-live-search-placeholder="Search..." title="">
                                            <option *ngFor="let grp of rooms" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                                {{grp.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2">{{'label.class.Teacher' | translate}}</label>
                                    <div class="col-md-10">
                                        <select id="grps-user-info" name="teacher" [(ngModel)]="pointer.teacherTodayId" class="form-control" data-live-search="true"
                                                data-actions-box="false" data-live-search-placeholder="Search..." title="">
                                            <option *ngFor="let grp of suppliers" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                                {{grp.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                            </div>
                        </div>

                        <div class="mg-bt-10 text-center">
                            <div class="form-group has-feedback">
                                <button type="button" class="btn btn-primary" (click)="addClassTime()">
                                    {{'button.Add' | translate}}
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                            </div>
                        </div>


                        <div class="wrap-table">
                            <div class="col-sm-12">
                                <div class="form-group has-feedback">
                                    <div [@fadeInOut]>
                                        <!--DATA TABLE-->
                                        <ngx-datatable class="material colored-header sm table-hover" [loadingIndicator]="loadingIndicator" [rows]="rowTimes" [rowHeight]="auto"
                                                       [columns]="columnTimes" [scrollbarV]="verticalScrollbar" [columnMode]="'force'">
                                        </ngx-datatable>

                                        <!-- TEMPLATEs -->
                                        <ng-template #statusHeaderTemplate>
                                            <i class="fa fa-check-square-o"></i>
                                        </ng-template>

                                        <ng-template #nameTemplate let-row="row" let-value="value">
                                            <span attr.title="{{value}}">
                                                {{value}}
                                            </span>
                                        </ng-template>
                                        <ng-template #actionsTemplate let-row="row">
                                            <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteTime(row)">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i> {{'button.Delete' | translate}}
                                            </a>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">{{'label.class.StudentClass' | translate}}</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label col-md-2">{{'label.class.Student' | translate}}</label>
                                        <div class="col-md-10 no-pd wrap-input-search">
                                            <div class="col-sm-10 col-md-10 wrap-input">
                                                <select id="grps-user-info" name="student" [(ngModel)]="pointer.studentId" class="form-control" disabled data-live-search="true"
                                                        data-actions-box="false" data-live-search-placeholder="Search..." title="">
                                                    <option></option>
                                                    <option *ngFor="let grp of students" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                                        {{grp.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <button type="button" class="btn btn-info float-right" (click)="showWaitingClass(waitingClasstemplate)" title="{{'label.class.WaitingClass' | translate}}">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label col-md-2">{{'label.class.MaterialLearn' | translate}}</label>
                                        <div class="col-md-10" [ngClass]="{'has-success': f.submitted && mate.valid, 'has-error' : f.submitted && !mate.valid}">
                                            <select id="grps-user-info" name="mate" [(ngModel)]="pointer.materialId" class="form-control" #mate="ngModel" attr.id="mate-{{uniqueId}}"
                                                    minlength="2" maxlength="200" data-show-subtext="true" data-live-search="true"
                                                    data-actions-box="true" data-live-search-placeholder="Search..." title="">
                                                <option *ngFor="let grp of materials" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                                    {{grp.name}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label col-md-2">{{'label.class.StartDate' | translate}}</label>
                                        <div class="col-md-10" [ngClass]="{'has-success': f.submitted && startDate.valid, 'has-error' : f.submitted && !startDate.valid}">
                                            <input type="text" class="form-control" placeholder="{{'label.class.StartDate' | translate}}" bsDatepicker [(ngModel)]="pointer.startDate"
                                                   name="startDate" #startDate="ngModel" attr.id="startDate-{{uniqueId}}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label col-md-2">{{'label.class.EndDate' | translate}}</label>
                                        <div class="col-md-10" [ngClass]="{'has-success': f.submitted && endDate.valid, 'has-error' : f.submitted && !endDate.valid}">
                                            <input type="text" class="form-control" placeholder="{{'label.class.EndDate' | translate}}" bsDatepicker [(ngModel)]="pointer.endDate"
                                                   name="endDate" #endDate="ngModel" attr.id="endDate-{{uniqueId}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                                </div>
                            </div>

                            <div class="text-center">
                                <div class="form-group has-feedback">
                                    <button type="button" class="btn btn-primary" (click)="addClassStudent()">
                                        {{'button.Add' | translate}}
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                                </div>
                            </div>

                            <div class="wrap-table">
                                <div [@fadeInOut]>
                                    <!--DATA TABLE-->
                                    <ngx-datatable class="material colored-header sm table-hover" [loadingIndicator]="loadingIndicator" [rows]="rowStudents"
                                                   [rowHeight]="auto" [columns]="columnStudents" [scrollbarV]="verticalScrollbar" [columnMode]="'force'"
                                                   (activate)="onActivateClass($event, classoffsettemplate)">
                                    </ngx-datatable>

                                    <!-- TEMPLATEs -->
                                    <ng-template #statusHeaderTemplate>
                                        <i class="fa fa-check-square-o"></i>
                                    </ng-template>

                                    <ng-template #nameTemplate let-row="row" let-value="value">
                                        <span attr.title="{{value}}">
                                            {{value}}
                                        </span>
                                    </ng-template>
                                    <ng-template #actionStudentsTemplate let-row="row">
                                        <a class="btn btn-link btn-xs" href="javascript:;" (click)="markExamine(row, templateExamine)" *ngIf="pointer.id?.length > 0">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i> {{'button.Mark' | translate}}
                                        </a>
                                        <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteStudent(row)">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i> {{'button.Delete' | translate}}
                                        </a>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>

<ng-template #templateExamine>
    <div class="modal-header">
        <button type="button" class="close" (click)="closeExamine()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <classexamines [StudentId]="studentId" [ClassId]="classId"></classexamines>
    </div>
</ng-template>

<ng-template #waitingClasstemplate>
    <div class="modal-header">
        <button type="button" class="close" (click)="closeWaitingClass()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="branch-modalLabel">{{'menu.class.WaitingClass' | translate}}</h4>
    </div>
    <div class="modal-body">
        <iostudentlistspay [isNotShowPrice]="false" [isWaitingClass]="true" (activeDoubleClick)="onActivateMaterial($event)"></iostudentlistspay>
    </div>
</ng-template>

<ng-template #classoffsettemplate>
    <classmodules [classId]="classId" [studentId]="studentId"></classmodules>
</ng-template>