.row:not(:last-child) {
    /*border-bottom: 1px solid #ccc;*/
}

.separator-hr {
    margin: 0 2px;
    border-top-style: dashed;
}

.edit-separator-hr {
    margin: 3px 2px;
    border-top-style: dashed;
}

.last-separator-hr {
    margin-top: 2px;
}

.edit-last-separator-hr {
    margin-top: 15px;
}

.password-separator-hr {
    margin: 5px;
    border-style: none;
}


.form-group {
    margin-top: 0;
    margin-bottom: 0;
}

input.form-control {
    border-left-width: 5px;
}


.password-well {
    margin-bottom: 0;
}

.hint-sm {
    display: block;
}

.checkbox.user-enabled {
    display: inline-block;
}

.unblock-user {
    margin-left: 34px;
}

@media (min-width: 992px) {
    .user-enabled {
        margin-left: 40px;
    }
}

/* fixed ui */
.classes .modal-footer {
    padding-right: 0;
}

.classes .control-label {
    white-space: nowrap;
}

.classes .has-feedback select.form-control {
    padding-right: 20px;
}

.classes textarea.form-control {
    resize: vertical;
    margin-left: 2px;
}

.classes .wrap-inp .form-control {
    margin-bottom: 10px;
}

.classes .wrap-table.student {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.pd-l-10 {
    padding-left: 10px;
}

.no-pd {
    padding: 0;
}

.mg-bt-10 {
    margin-bottom: 10px;
}

/* css for table */
.classes .wrap-table .datatable-header-cell-wrapper {
    color: #FFF;
}
