<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_student_main_student">{{'mainMenu.mn-students' | translate}}</a></li>
                <li><a routerLink="/mn_student_categories">{{'menu.student.Categories.Header' | translate}}</a></li>
                <li><a routerLink="/mn_student_categories_classes">{{'menu.student.Categories.Class' | translate}}</a></li>
                <li>{{'pageMain.class.header' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="control-box classes">
    <div class="row">
        <div class="col-sm-12">
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="addnew()">
                    <span class="glyphicon glyphicon-plus"></span> {{'button.AddNew' | translate}}
                </button>

                <button type="button" class="btn btn-primary" (click)="save()">
                    <span class="glyphicon glyphicon-floppy-disk"></span> {{'button.Save' | translate}}
                </button>
                <button *ngIf="pointer.id?.length > 0" type="button" class="btn btn-warning" (click)="deletemaster()">
                    <span class="glyphicon 	glyphicon glyphicon-removes"></span> {{'button.Delete' | translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2">{{'label.class.Code' | translate}}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" [(ngModel)]="pointer.code">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2">{{'label.class.Name' | translate}}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" [(ngModel)]="pointer.name">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2">{{'label.class.MaterialLearn' | translate}}</label>
                    <div class="col-md-10">
                        <select id="grps-user-info" name="gender" [(ngModel)]="pointer.materialId" class="form-control" required
                                data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="">
                            <option *ngFor="let grp of materials" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                {{grp.name}}
                            </option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2">{{'label.class.CountLearn' | translate}}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" [(ngModel)]="pointer.longLearn">
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2">{{'label.class.Status' | translate}}</label>
                    <div class="col-md-10">
                        <select id="grps-user-info" name="gender" [(ngModel)]="pointer.statusId" class="form-control" required
                                data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="">
                            <option *ngFor="let grp of status" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                {{grp.name}}
                            </option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2">{{'label.class.CountClass' | translate}}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" [(ngModel)]="pointer.maxStudent">
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2">{{'label.class.StartDate' | translate}}</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="{{'label.class.StartDate' | translate}}" bsDatepicker [(ngModel)]="pointer.startDate" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2">{{'label.class.EndDate' | translate}}</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="{{'label.class.EndDate' | translate}}" bsDatepicker [(ngModel)]="pointer.endDate" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2">{{'label.class.TeacherMain' | translate}}</label>
                    <div class="col-md-10">
                        <select id="grps-user-info" name="gender" [(ngModel)]="pointer.supplierId" class="form-control" required
                                data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="">
                            <option *ngFor="let grp of suppliers" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                {{grp.name}}
                            </option>
                        </select>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-1">{{'label.class.Note' | translate}}</label>
                    <div class="col-md-11 pd-l-10">
                        <textarea class="form-control" [(ngModel)]="pointer.note"></textarea>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">

            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-12">
                        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                        <h3 class="col-md-8">{{'label.class.TimeClass' | translate}}</h3>
                    </div>
                </div>

                <div class="col-md-6 no-pd">
                    <div class="wrap-inp">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2">{{'label.class.Today' | translate}}</label>
                            <div class="col-md-10">
                                <select id="grps-user-info" name="gender" [(ngModel)]="pointer.todayId" class="form-control" required
                                        data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="">
                                    <option *ngFor="let grp of todays" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                        {{grp.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-inp">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2">{{'label.class.StartTime' | translate}}</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="{{'label.class.StartTime' | translate}}" bsDatepicker [(ngModel)]="pointer.startTime" />
                            </div>
                        </div>
                    </div>
                    <div class="wrap-inp">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2">{{'label.class.EndTime' | translate}}</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="{{'label.class.EndDate' | translate}}" bsDatepicker [(ngModel)]="pointer.endTime" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 no-pd">
                    <div class="wrap-inp">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2">{{'label.class.Room' | translate}}</label>
                            <div class="col-md-10">
                                <select id="grps-user-info" name="gender" [(ngModel)]="pointer.roomId" class="form-control" required
                                        data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="">
                                    <option *ngFor="let grp of rooms" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                        {{grp.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-inp">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2">{{'label.class.Teacher' | translate}}</label>
                            <div class="col-md-10">
                                <select id="grps-user-info" name="gender" [(ngModel)]="pointer.teacherTodayId" class="form-control" required
                                        data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="">
                                    <option *ngFor="let grp of suppliers" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                        {{grp.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                    </div>
                </div>

                <div class="mg-bt-10 text-center">
                    <div class="form-group has-feedback">
                        <button type="button" class="btn btn-primary" (click)="addClassTime()">
                            {{'button.Add' | translate}}
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                    </div>
                </div>


                <div class="wrap-table">
                    <div class="col-sm-12">
                        <div class="form-group has-feedback">
                            <div [@fadeInOut]>
                                <!--DATA TABLE-->
                                <ngx-datatable class="material colored-header sm table-hover"
                                               [loadingIndicator]="loadingIndicator"
                                               [rows]="rowTimes"
                                               [rowHeight]="auto"
                                               [columns]="columnTimes"
                                               [scrollbarV]="verticalScrollbar"
                                               [columnMode]="'force'">
                                </ngx-datatable>

                                <!-- TEMPLATEs -->
                                <ng-template #statusHeaderTemplate>
                                    <i class="fa fa-check-square-o"></i>
                                </ng-template>

                                <ng-template #nameTemplate let-row="row" let-value="value">
                                    <span attr.title="{{value}}">
                                        {{value}}
                                    </span>
                                </ng-template>
                                <ng-template #actionsTemplate let-row="row">
                                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteTime(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'button.Delete' | translate}}</a>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                        <h3 class="col-md-8">{{'label.class.StudentClass' | translate}}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2">{{'label.class.Student' | translate}}</label>
                            <div class="col-md-10">
                                <select id="grps-user-info" name="gender" [(ngModel)]="pointer.studentId" class="form-control" required
                                        data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="">
                                    <option *ngFor="let grp of students" attr.data-content="<span title='{{grp.note}}' class='badge'>{{grp.name}}</span>" attr.value="{{grp.id}}">
                                        {{grp.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                    </div>
                </div>

                <div class="text-center">
                    <div class="form-group has-feedback">
                        <button type="button" class="btn btn-primary" (click)="addClassStudent()">
                            {{'button.Add' | translate}}
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                    </div>
                </div>

                <div class="wrap-table student">
                    <div [@fadeInOut]>
                        <!--DATA TABLE-->
                        <ngx-datatable class="material colored-header sm table-hover"
                                       [loadingIndicator]="loadingIndicator"
                                       [rows]="rowStudents"
                                       [rowHeight]="auto"
                                       [columns]="columnStudents"
                                       [scrollbarV]="verticalScrollbar"
                                       [columnMode]="'force'">
                        </ngx-datatable>

                        <!-- TEMPLATEs -->
                        <ng-template #statusHeaderTemplate>
                            <i class="fa fa-check-square-o"></i>
                        </ng-template>

                        <ng-template #nameTemplate let-row="row" let-value="value">
                            <span attr.title="{{value}}">
                                {{value}}
                            </span>
                        </ng-template>
                        <ng-template #actionStudentsTemplate let-row="row">
                            <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteStudent(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'button.Delete' | translate}}</a>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


