
<div class="wrapper" id="app_container">
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>S</b>B</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Super</b>Brain</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" *ngIf="isUserLoggedIn">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../assets/adminLTE-2.4.3/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../assets/adminLTE-2.4.3/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                SuperBrain Design Team
                                                <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../assets/adminLTE-2.4.3/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../assets/adminLTE-2.4.3/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../assets/adminLTE-2.4.3/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                            page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Create a nice theme
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">40% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Some task I need to do
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Make beautiful transitions
                                                <small class="pull-right">80%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../assets/adminLTE-2.4.3/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{userName}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="../assets/adminLTE-2.4.3/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    {{'app.Welcome' | translate}} - {{fullName}}
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a routerLink="/settings" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" (click)="logout()" class="btn btn-default btn-flat">{{'mainMenu.Logout' | translate}}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" *ngIf="isUserLoggedIn">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img [src]="appLogo" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{fullName}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">TỔNG QUAN</li>
                <li class="active treeview menu-open">
                    <a routerLink="/mn_main_categories">
                        <i class="fa fa-dashboard"></i> <span>{{'menu.main.Categories' | translate}}</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a routerLink="/branches"><i class="fa fa-bold"></i> {{'menu.stock.Branch' | translate}}</a></li>
                        <li><a routerLink="/rooms"><i class="fa fa-university"></i> {{'menu.student.Categories.Detail.Room' | translate}}</a></li>
                        <li><a routerLink="/shiftclasses"><i class="fa fa-hourglass"></i> {{'menu.student.Categories.Detail.Shiftclass' | translate}}</a></li>
                        <li><a routerLink="/stocks"><i class="fa fa-home"></i> {{'menu.stock.Stock' | translate}}</a></li>

                        <li><a routerLink="/units"><i class="fa fa-buysellads"></i> {{'menu.stock.Unit' | translate}}</a></li>
                        <li><a routerLink="/typematerials"><i class="fa fa-tumblr"></i> {{'menu.stock.TypeMaterial' | translate}}</a></li>
                        <li><a routerLink="/grpmaterials"><i class="fa fa-object-group"></i> {{'menu.stock.GrpMaterial' | translate}}</a></li>
                        <li><a routerLink="/materials"><i class="fa fa-product-hunt"></i> {{'menu.stock.Material' | translate}}</a></li>

                        <li><a routerLink="/grpsuppliers"><i class="fa fa-address-card"></i> {{'menu.stock.Grpsupplier' | translate}}</a></li>
                        <li><a routerLink="/suppliers"><i class="fa fa-id-badge"></i> {{'menu.stock.Supplier' | translate}}</a></li>
                        <li><a routerLink="/suppliercus"><i class="fa fa-users"></i> {{'menu.accountant.Customer' | translate}}</a></li>
                        <li><a routerLink="/supplieremps"><i class="fa fa-user"></i> {{'menu.accountant.Employee' | translate}}</a></li>

                        <li><a routerLink="/supplierteachs"><i class="fa fa-users"></i> {{'menu.accountant.Teacher' | translate}}</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a routerLink="/mn_main_educate">
                        <i class="fa fa-dashboard"></i> <span>{{'menu.main.Educate' | translate}}</span>
                        <span class="pull-right-container">
                            <i class="fa fa-accusoft pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a routerLink="/typemateriallearns"><i class="fa fa-bandcamp"></i> {{'menu.class.Learning' | translate}}</a></li>
                        <li><a routerLink="/grpmateriallearns"><i class="fa fa-css3"></i> {{'menu.class.Levelclass' | translate}}</a></li>
                        <li><a routerLink="/materiallearns"><i class="fa fa-balance-scale"></i> {{'menu.class.MaterialLearn' | translate}}</a></li>
                        <li><a routerLink="/shiftclasses"><i class="fa fa-bell"></i> {{'menu.class.Shiftclass' | translate}}</a></li>

                        <li><a routerLink="/examines"><i class="fa fa-binoculars"></i> {{'menu.student.Categories.Detail.Examine' | translate}}</a></li>
                        <li><a routerLink="/classes"><i class="fa fa-black-tie"></i> {{'menu.student.Categories.Detail.Class' | translate}}</a></li>
                        <li><a routerLink="/classlists"><i class="fa fa-braille"></i> {{'menu.student.Categories.Detail.ClassList' | translate}}</a></li>
                        <li><a routerLink="/consultants"><i class="fa fa-bullhorn"></i> {{'menu.class.Consultant' | translate}}</a></li>

                        <li><a routerLink="/students"><i class="fa fa-child"></i> {{'menu.class.Student' | translate}}</a></li>
                        <li><a routerLink="/iostudents"><i class="fa fa-cubes"></i> {{'menu.class.IOStudent' | translate}}</a></li>
                        <li><a routerLink="/iostudentlist"><i class="fa fa-check-circle"></i> {{'menu.class.IOStudentList' | translate}}</a></li>
                        <li><a routerLink="/checkclass"><i class="fa fa fa-bar-chart-o"></i> {{'menu.student.manage.CheckClass' | translate}}</a></li>

                        <li><a routerLink="/studentbirthdays"><i class="fa fa-birthday-cake"></i> {{'menu.student.manage.BirthdayStudent' | translate}}</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a routerLink="/mn_stock_main_stock">
                        <i class="fa fa-files-o"></i>
                        <span>{{'mainMenu.mn-stocks' | translate}}</span>
                        <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a routerLink="/mn_stock_categories_stock"><i class="fa fa-th"></i> {{'menu.stock.Categroies' | translate}}</a></li>
                        <li><a routerLink="/mn_stock_inputs_stock"><i class="fa fa-edit"></i> {{'menu.stock.IOInputDes' | translate}}</a></li>
                        <li><a routerLink="/mn_stock_manages_stock"><i class="fa fa-table"></i> {{'menu.stock.ManageIO' | translate}}</a></li>
                        <li><a routerLink="/mn_stock_reports_stock"><i class="fa fa-calendar"></i> {{'menu.stock.ReportIO' | translate}}</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a routerLink="/mn_accountant_main_accountant">
                        <i class="fa fa-pie-chart"></i>
                        <span>{{'mainMenu.mn-finances' | translate}}</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a routerLink="/mn_accountant_promotion_accountant"><i class="fa fa-envelope"></i> {{'menu.accountant.Promotions' | translate}}</a></li>
                        <li><a routerLink="/mn_accountant_payment_accountant"><i class="fa fa-folder"></i> {{'menu.accountant.Payment' | translate}}</a></li>
                        <li><a routerLink="/mn_accountant_main_accountant"><i class="fa fa-share"></i> {{'menu.accountant.Dept' | translate}}</a></li>
                        <li><a routerLink="/mn_accountant_main_accountant"><i class="fa fa-book"></i> {{'menu.accountant.Report' | translate}}</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>Người Dùng</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a routerLink="/#"><i class="fa fa-circle-o text-red"></i> Thông báo</a></li>
                        <li><a routerLink="/#"><i class="fa fa-circle-o text-yellow"></i> Email, Sms</a></li>
                        <li><a routerLink="/#"><i class="fa fa-circle-o text-aqua"></i> Tài liệu</a></li>
                        <li><a routerLink="/#"><i class="fa fa-circle-o"></i> Cài đặt</a></li>
                        <li><a routerLink="/#"><i class="fa fa-circle-o"></i> Quản trị User</a></li>
                        <li><a routerLink="/#"><i class="fa fa-circle-o"></i> Cơ sở</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header" *ngIf="isUserLoggedIn">
            <h1>
                Dashboard
                <small>Version 2.0</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <ng2-toasty></ng2-toasty>

            <router-outlet></router-outlet>

            <div *ngIf="shouldShowLoginModal" class="modal fade" bsModal #loginModal="bs-modal" (onShown)="onLoginModalShown()" (onHidden)="onLoginModalHidden()" (onHide)="onLoginModalHide()"
                 [config]="{backdrop: 'static'}" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <app-login #loginControl isModal="true"></app-login>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2018 <a href="https://sagote.com">Saigon Software Centerl</a>.</strong> All rights
        reserved.
    </footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-user bg-yellow"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->
            </div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Other sets of options are available
                        </p>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div>
                    <!-- /.form-group -->
                    <h3 class="control-sidebar-heading">Chat Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>