@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
/*@import '../assets/styles/ori-core.css';
@import '../assets/styles/icon.css';*/
@import '../assets/styles/ebrain.css';
@import '../assets/styles/categories-icon.css';

/* login page */
.wrapper.login {
    /*display: flex;*/
    flex-flow: column;
}
    .wrapper.login .main-header {
        z-index: 1;
    }

    .wrapper.login .main-header a.logo {
        width: 100%;
    }

    .wrapper.login .content-wrapper, .wrapper.login .main-footer {
        margin-left: 0;
    }

/* button style */
.btn-manager {
}

    .btn-manager.disabled a {
        background-color: #fcfcfd !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

        .btn-manager.disabled a * {
            color: #d2dae1 !important;
        }

        .btn-manager.disabled a .icon {
            color: #fff !important;
        }

        .btn-manager.disabled a:hover .hover-rotate {
            -webkit-transform: none !important;
            -ms-transform: none !important;
            transform: none !important;
        }

/* general style */
.control-box {
    margin-bottom: 10px;
}

.no-pd-l {
    padding-left: 0;
}

.no-pd-r {
    padding-right: 0;
}

textarea {
    resize: vertical;
    min-height: 60px;
}

label.control-label {
    white-space: nowrap;
    text-align: left !important;
}

/* style side bar menu */
.main-sidebar .sidebar .sidebar-menu li.menu-open > a {
    color: #FF800A;
    font-weight: bold;
}

/* style side bar menu item selected*/
.active-link {
    color: #ffffff !important;
    font-weight:bold;
}

/* ngx-datatable */
.ngx-datatable.fixed-header .datatable-header {
    height: auto !important;
}


    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        color: #fff;
    }

        .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell.text-center,
        .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell.text-center {
            text-align: center;
        }

.ngx-datatable .datatable-body .datatable-body-row .datatable-body-cell-label {
    word-break: break-all;
    white-space: normal;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell.text-right {
    text-align: right;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell input {
    width: 100%;
    text-align: right;
}

.ngx-datatable .datatable-body .datatable-scroll {
    width: 100% !important;
}


    .ngx-datatable .datatable-body .datatable-scroll .datatable-body-row {
        width: 100% !important;
        height: auto !important;
        border-top: none !important;
    }

.ngx-datatable .datatable-body .datatable-row-wrapper:last-child {
    border-bottom: 1px solid #ddd;
}

.ngx-datatable .datatable-body .datatable-body-row .datatable-body-cell {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd !important;
    overflow-y: auto !important;
    height: auto !important;
}

    .ngx-datatable .datatable-body .datatable-body-row .datatable-body-cell:last-child {
        border-right: none;
    }

.ngx-datatable .datatable-header-cell.datatable-header-cell {
    border-right: 1px solid;
}

    .ngx-datatable .datatable-header-cell.datatable-header-cell:last-child {
        border-right: none;
    }

/* modal */
.modal-content {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-footer {
    margin-top: 10px;
}

.modal-content ngx-datatable datatable-body {
    width: 100% !important;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-content ngx-datatable.row-pointer datatable-body .datatable-row-wrapper:hover,
ngx-datatable.row-pointer datatable-body .datatable-row-wrapper:hover {
    cursor: pointer;
}

/* breadcrumb  */
.breadcrumb {
    background-color: transparent;
    /*border: 1px solid #eaeef1;*/
    padding-left: 10px;
    margin-top: -10px;
    margin-bottom: 5px;
}

    .breadcrumb > li + li:before,
    .breadcrumb > .active {
        color: inherit;
    }



/* page structor */
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden !important;
}

header {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 10px;
}

    header.main-header {
        margin-bottom: 0px;
    }

/* content app */
#app_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
    #app_container.login .content-wrapper {
        height: 100vh !important; /* 102px = header(50px) + footer(51px) */
    }

    #app_container.login .content-wrapper .content {
        padding: 0;
    }

    #app_container .content-wrapper {
        height: calc(100vh - 102px); /* 102px = header(51px) + footer(51px) */
        min-height: inherit !important;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-flow: column;
    }

        #app_container .content-wrapper section.content-header {
            flex: 0 1 auto;
        }

        #app_container .content-wrapper section.content {
            flex: 1 1 auto;
            width: 100%;
            display: flex;
            flex-flow: column;
        }

            #app_container .content-wrapper section.content header,
            #app_container .content-wrapper section.content .row {
                flex: 0 1 auto;
            }

            #app_container .content-wrapper section.content .table-wrapper {
                flex: 1 1 auto;
                display: flex;
                flex-flow: column;
                position: relative;
                min-height: 200px;
            }

                #app_container .content-wrapper section.content ngx-datatable {
                    /*position: absolute;*/
                    width: 100%;
                    height: 100%;
                    max-height: 100%;
                    margin-bottom: 10px;
                }

                    #app_container .content-wrapper section.content ngx-datatable datatable-body {
                        /*position: absolute;*/
                        height: 100% !important;
                        width: 100% !important;
                        max-height: calc(100vh - 160px) !important;
                        overflow-x: auto;
                        overflow-y: auto;
                    }

    #app_container aside.control-sidebar,
    #app_container aside.main-sidebar {
        top: 50px;
        height: calc(100% - 50px);
        min-height: initial;
        overflow-y: auto;
        padding-top: 0;
    }

/* messengerlists table */
messengerlists .ngx-datatable .datatable-row-center,
messengerlists .ngx-datatable .datatable-row-group .datatable-body-cell {
    width: 100% !important;
}

messengerlists .ngx-datatable .datatable-body {
    overflow-y: auto;
}

@media (max-width: 767px) {
    #app_container .content-wrapper {
        height: calc(100vh - 151px) !important; /* 102px = header(100px) + footer(51px) */
    }

    #app_container aside.control-sidebar,
    #app_container aside.main-sidebar {
        top: 100px;
        height: calc(100% - 100px);
    }
}
