<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_system">{{'menu.main.System' | translate}}</a></li>
                <li>{{'pageMain.userrole.header' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="row control-box">
    <div class="col-sm-10">
        <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'pageMain.featuregroup.searchBox' | translate}}">></search-box>
        </div>
    </div>
    
</div>

<div [@fadeInOut]>
    <!--DATA TABLE-->
    <ngx-datatable class="material colored-header sm table table-bordered table-responsive"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [columns]="columns"
                   [columnMode]="'force'"
                   [scrollbarV]="verticalScrollbar"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [externalPaging]="true"
                   [count]="page.totalElements"
                   [offset]="page.pageNumber"
                   [limit]="page.size"
                   (page)='setPage($event)'>
    </ngx-datatable>

    <!-- TEMPLATEs -->
    <ng-template #statusHeaderTemplate>
        <i class="fa fa-check-square-o"></i>
    </ng-template>

    <ng-template #statusTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #nameTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #descriptionTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>
    <ng-template #actionsTemplate let-row="row">
        <a class="btn btn-link btn-xs" href="javascript:;" (click)="edit(template, row.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'button.Edit' | translate}}</a>
        |
        <a class="btn btn-link btn-xs" href="javascript:;" (click)="delete(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'button.Delete' | translate}}</a>
    </ng-template>
</div>

<ng-template #template>
    <div class="modal-header">
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="branch-modalLabel">{{'label.userrole.ManageGroupName' | translate}}</h4>
    </div>
    <div class="modal-body">
        
            <div class="modal-body">
                <div class="modal-body">
                    <div class="col-sm-12">
                        <!--DATA TABLE-->
                        <ngx-datatable class="material colored-header sm table table-bordered table-responsive"
                                       [loadingIndicator]="loadingIndicator"
                                       [rows]="rowroles"
                                       [rowHeight]="auto"
                                       [columns]="columnroles"
                                       [scrollbarV]="verticalScrollbar"
                                       [columnMode]="'force'">


                            <ngx-datatable-column headerClass="text-center"
                                                  name="{{'label.userrole.GroupName' | translate}}" prop='name'>

                            </ngx-datatable-column>

                            <ngx-datatable-column [width]="100"
                                                  [sortable]="false"
                                                  [canAutoResize]="false"
                                                  [draggable]="false" [resizeable]="false"
                                                  [headerClass]="text-center"
                                                  [cellClass]="text-center"
                                                  [prop]='isactive'
                                                  name="{{'label.userrole.IsActive' | translate}}">
                                <ng-template ngx-datatable-cell-template let-value="value"
                                             let-rowIndex="rowIndex" let-row="row">
                                    <input type="checkbox"
                                           (change)="updateIsActive(row,$event,rowIndex)"
                                           [checked]="row.isactive"
                                           value="isactive"
                                           ng-model="isactive" />
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="close()" data-dismiss="modal">{{'button.Close' | translate}}</button>
                    <button type="button" (click)="save()" class="btn btn-primary">{{'button.Save' | translate}}</button>
                </div>
            </div>
       
    </div>
</ng-template>

