
<div class="row control-box">
    <div class="col-sm-5">
        <label for="message-text" class="control-label">{{'label.grpMaterial.TypeMaterialName' | translate}}</label>
        <div >
            <select id="types-user-info" name="type" [(ngModel)]="usergroupid" class="form-control"
                    data-live-search="true" data-actions-box="false"
                    title="{{'label.accessright.UserGroup' | translate}}">
                <option *ngFor="let user of userGroups" attr.data-content="<span title='{{user.note}}' class='badge'>{{user.name}}</span>">
                    {{user.name}}
                </option>
            </select>

        </div>
    </div>
    <div class="col-sm-5">
        <label for="message-text" class="control-label">{{'label.grpMaterial.TypeMaterialName' | translate}}</label>
        <div>
            <select id="types-user-info" name="type" [(ngModel)]="usergroupid" class="form-control"
                    data-live-search="true" data-actions-box="false"
                    title="{{'label.accessright.FeatureGroup' | translate}}">
                <option>All</option>
                <option *ngFor="let fea of featureGroups" attr.data-content="<span title='{{fea.note}}' class='badge'>{{fea.name}}</span>">
                    {{fea.name}}
                </option>
            </select>

        </div>
    </div>
    <div class="col-sm-2">
        <div class="text-right">
            <button class="btn btn-primary" (click)="onSearchChanged()"><i class="fa fa-plus-circle"></i> Search</button>
        </div>
    </div>
</div>

<div [@fadeInOut]>
    <!--DATA TABLE-->
    <ngx-datatable class="material colored-header sm table table-bordered table-responsive"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [columns]="columns"
                   [columnMode]="'force'"
                   [scrollbarV]="verticalScrollbar"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [externalPaging]="true"
                   [count]="page.totalElements"
                   [offset]="page.pageNumber"
                   [limit]="page.size"
                   (page)='setPage($event)'>
    </ngx-datatable>

    <!-- TEMPLATEs -->
    <ng-template #statusHeaderTemplate>
        <i class="fa fa-check-square-o"></i>
    </ng-template>

    <ng-template #statusTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #nameTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #viewTemplate let-row="row" let-value="value">
        <input type="checkbox" value="{{value}}"
               autofocus
               (blur)="updateViewValue(row,$event,rowIndex)" />
    </ng-template>

    <ng-template #editTemplate let-row="row" let-value="value">
        <input type="checkbox" value="{{value}}"
               autofocus
               (blur)="updateEditValue(row,$event,rowIndex)" />
    </ng-template>

    <ng-template #createTemplate let-row="row" let-value="value">
        <input type="checkbox" value="{{value}}"
               autofocus
               (blur)="updateCreateValue(row,$event,rowIndex)" />
    </ng-template>

    <ng-template #deleteTemplate let-row="row" let-value="value">
        <input type="checkbox" value="{{value}}"
               autofocus
               (blur)="updateDeleteValue(row,$event,rowIndex)" />
    </ng-template>

    <ng-template #descriptionTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>
   
</div>
