<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_system">{{'menu.main.System' | translate}}</a></li>
                <li>{{'label.accessright.PermissionGroup' | translate}}</li>
            </ol>
        </div>
    </div>
</header>
<div class="row control-box">
    <div class="col-sm-5">
        <label for="message-text" class="control-label">{{'label.accessright.UserGroup' | translate}}</label>
        <div >
            <select id="types-user-info" name="type" [(ngModel)]="groupId" class="form-control"
                    data-live-search="true" data-actions-box="false"
                    (change)="search()"
                    title="{{'label.accessright.UserGroup' | translate}}">
                <option *ngFor="let user of userGroups" 
                         attr.value="{{user.id}}"
                        attr.data-content="<span title='{{user.note}}' class='badge'>{{user.name}}</span>">
                    {{user.name}}
                </option>
            </select>

        </div>
    </div>
    <div class="col-sm-5">
        <label for="message-text" class="control-label">{{'label.accessright.FeatureGroup' | translate}}</label>
        <div>
            <select id="types-user-info" name="type" [(ngModel)]="featureGroupId" class="form-control"
                    data-live-search="true" data-actions-box="false"
                    (change)="search()"
                    title="{{'label.accessright.FeatureGroup' | translate}}">
                <option>All</option>
                <option *ngFor="let fea of featureGroups" 
                         attr.value="{{fea.id}}"
                        attr.data-content="<span title='{{fea.note}}' class='badge'>{{fea.name}}</span>">
                    {{fea.name}}
                </option>
            </select>

        </div>
    </div>
    <div class="col-sm-2">
        <div class="text-right">
            <button type="button" class="btn btn-primary" (click)="save()"
                    *ngIf="accessRightService.isCreate('ADC69968-D9E7-4C9E-AD15-206ED47A9D32')">
                <span class="glyphicon glyphicon-floppy-disk"></span> {{'button.Save' | translate}}
            </button>
        </div>
    </div>
</div>

<div [@fadeInOut]>
    <!--DATA TABLE-->
    <ngx-datatable class="material colored-header sm table table-bordered table-responsive"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [columns]="columns"
                   [columnMode]="'force'"
                   [scrollbarV]="verticalScrollbar"
                   [rowHeight]="'auto'"
                   [externalPaging]="true"
                   [count]="page.totalElements">
    </ngx-datatable>

    <!-- TEMPLATEs -->
    <ng-template #statusHeaderTemplate>
        <i class="fa fa-check-square-o"></i>
    </ng-template>

    <ng-template #statusTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #nameTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #viewTemplate let-row="row" let-value="value">
        <input type="checkbox" value="{{value}}"
               [checked]="row.view"
               (change)="updateViewValue(row,$event,rowIndex)" />
    </ng-template>

    <ng-template #editTemplate let-row="row" let-value="value">
        <input type="checkbox" value="{{value}}"
                [checked]="row.edit"
               (change)="updateEditValue(row,$event,rowIndex)" />
    </ng-template>

    <ng-template #createTemplate let-row="row" let-value="value">
        <input type="checkbox" value="{{value}}"
                [checked]="row.create"
               (change)="updateCreateValue(row,$event,rowIndex)" />
    </ng-template>

    <ng-template #deleteTemplate let-row="row" let-value="value">
        <input type="checkbox" value="{{value}}"
                [checked]="row.delete"
               (change)="updateDeleteValue(row,$event,rowIndex)" />
    </ng-template>

    <ng-template #descriptionTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>
   
</div>
