<header *ngIf="!isShowSummarized">
    <div class="row">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_main_stock">{{'mainMenu.mn-stocks' | translate}}</a></li>
                <li>{{'menu.stock.PurchaseOrderListDes' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="row control-box" *ngIf="!isShowSummarized">
    <div class="col-sm-8">
        <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'pageMain.iostudentlist.searchBox' | translate}}">></search-box>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="text-right">
            <search-chart [isShowSearch]="true" (searchTemplate)="search()"
                          [isShowAddNew]="false" (addNewTemplate)="addMessenger(template)"
                          [isShowExport]="rows?.length > 0" (exportExcelTemplate)="onOutputCSV()"
                          [isShowTemplate]="rows?.length > 0" (showTemplate)="showChart(template)"></search-chart>
        </div>
    </div>
</div>
<div class="row control-box" *ngIf="!isShowSummarized">
    <div class="col-sm-6 no-pd-l">
        <div class="form-group has-feedback">
            <label class="control-label col-md-2">{{'label.deptslist.FromDate' | translate}}</label>
            <div class="col-md-10">
                <input class="form-control" type="text" bsDatepicker [(ngModel)]="fromDate">
            </div>
        </div>
    </div>

    <div class="col-sm-6 no-pd-r">
        <div class="form-group has-feedback">
            <label class="control-label col-md-2">{{'label.deptslist.ToDate' | translate}}</label>
            <div class="col-md-10">
                <input class="form-control" type="text" bsDatepicker [(ngModel)]="toDate">
            </div>
        </div>
    </div>
</div>

<div [@fadeInOut]>
    <div class="row" *ngIf="isShowSummarized">
        <div class="col-md-8">
            <!--DATA TABLE-->
            <ngx-datatable class="material colored-header sm table table-bordered table-responsive"
                           [loadingIndicator]="loadingIndicator"
                           [rows]="rows"
                           [columnMode]="'force'"
                           [headerHeight]="50"
                           [footerHeight]="50"
                           [rowHeight]="'auto'"
                           [externalPaging]="true"
                           [count]="page.totalElements"
                           [offset]="page.pageNumber"
                           [limit]="page.size"
                           (page)='setPage($event)'>

                <ngx-datatable-column headerClass="text-center"
                                      name="{{'label.purchaselist.Code' | translate}}" prop='code'>

                </ngx-datatable-column>

                <ngx-datatable-column headerClass="text-center"
                                      name="{{'label.purchaselist.BranchNameIO' | translate}}" prop='branchNameIO'>

                </ngx-datatable-column>

                <ngx-datatable-column headerClass="text-center" cellClass="text-right"
                                      name="{{'label.purchaselist.PurchaseQuantity' | translate}}" prop='purchaseQuantity'>

                </ngx-datatable-column>

                <ngx-datatable-column headerClass="text-center"
                                      name="{{'label.purchaselist.Status' | translate}}">
                    <ng-template ngx-datatable-cell-template let-value="value"
                                 let-rowIndex="rowIndex" let-row="row">
                        <span *ngIf="row.remainQuantity == 0" class="label label-success">{{'label.purchaselist.Done' | translate}}</span>
                        <span *ngIf="row.ioQuantity > 0 && row.remainQuantity != 0" class="label label-info">{{'label.purchaselist.Processing' | translate}}</span>
                        <span *ngIf="row.ioQuantity == 0 && row.remainQuantity != 0" class="label label-warning">{{'label.purchaselist.Pending' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>

        <div class="col-md-4">
            <div class="box-header with-border">
                <h3 class="box-title">{{'label.purchaselist.StatusDes' | translate}}</h3>
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a>
                            {{'label.purchaselist.PurchaseQuantity' | translate}}
                            <span class="pull-right text-red"><i class="fa fa-circle-o text-red"></i> {{pending}}</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            {{'label.purchaselist.IOQuantity' | translate}}
                            <span class="pull-right text-green"><i class="fa fa-circle-o text-green"></i> {{processing}}</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            {{'label.purchaselist.RemainQuantity' | translate}}
                            <span class="pull-right text-yellow"><i class="fa fa-circle-o text-yellow"></i> {{done}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.footer -->
        </div>

    </div>

    <div class="table-wrapper" *ngIf="!isShowSummarized">
        <!--DATA TABLE-->
        <ngx-datatable class="material colored-header sm table-hover row-pointer"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [columns]="columns"
                       [columnMode]="'force'"
                       [scrollbarV]="verticalScrollbar"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       (page)='setPage($event)'
                       (activate)="onActivateMaterial($event)">
        </ngx-datatable>
    </div>

    <!-- TEMPLATEs -->
    <ng-template #statusHeaderTemplate>
        <i class="fa fa-check-square-o"></i>
    </ng-template>

    <ng-template #statusTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #nameTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #descriptionTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>
    <ng-template #totalPriceTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #actionsTemplate let-row="row">
        <a class="btn btn-link btn-xs" (click)="goDetails(templateNew, row)"
           *ngIf="accessRightService.isEdit('9ECBD467-7642-467B-AAE2-96484AD182A4')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{'button.Detail' | translate}}</a>
    </ng-template>
</div>

<ng-template #template>
    <div class="modal-body">
        <statistics-chart [modalRef]="modalRef" [chart]="chart"></statistics-chart>
    </div>
</ng-template>

<ng-template #templateNew>
    <div class="modal-header">
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <purchaseorders [purchaseOrderId]="purchaseOrderId" [isShowHeader]="false"></purchaseorders>
</ng-template>