<div class="col-xs-12 col-sm-12 col-md-2 side-menu">
    <ul bootstrapTab #tab="bootstrap-tab" class="nav nav-tabs tabs-left" (showBSTab)="onShowTab($event)">
        <li class="active">
            <a id="offsetTab" [routerLink]="[]" fragment="offset" href="#offset" data-toggle="tab">
                <i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> {{'menu.class.OffSet' | translate}}</a>
        </li>
        <li>
            <a id="exTab" [routerLink]="[]" fragment="ex" href="#ex" data-toggle="tab">
                <i class="fa fa-sliders fa-fw" aria-hidden="true"></i>{{'menu.class.ClassEx' | translate}}</a>
        </li>
        <li>
            <a id="scheduleTab" [routerLink]="[]" fragment="schedule" href="#schedule" data-toggle="tab">
                <i class="fa fa-bell fa-fw" aria-hidden="true"></i>{{'menu.class.Schedule' | translate}}</a>
        </li>
        <li>
            <a id="pendingTab" [routerLink]="[]" fragment="pending" href="#pending" data-toggle="tab">
                <i class="fa fa-pause fa-fw" aria-hidden="true"></i>{{'menu.class.Pending' | translate}}</a>
        </li>
        <li>
            <a id="deptTab" [routerLink]="[]" fragment="dept" href="#dept" data-toggle="tab">
                <i class="fa fa-pause fa-fw" aria-hidden="true"></i>{{'menu.class.Dept' | translate}}</a>
        </li>
        <li>
            <a id="markTab" [routerLink]="[]" fragment="mark" href="#mark" data-toggle="tab">
                <i class="fa fa-pause fa-fw" aria-hidden="true"></i>{{'menu.class.Mark' | translate}}</a>
        </li>

    </ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-10">
    <div class="tab-content">
        <div class="tab-pane active" id="offset">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeClass()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="branch-modalLabel">{{'menu.class.OffSet' | translate}}</h4>
            </div>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="isOffsetActive" class="content-container">
                <classoffset [classId]="classId" [studentId]="studentId" (funcReloadData)="funcReloadDataClass()"></classoffset>
            </div>
        </div>

        <div class="tab-pane" id="ex">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeClass()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="branch-modalLabel">{{'menu.class.ClassEx' | translate}}</h4>
            </div>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="isExActive" class="content-container">
                <classex [classId]="classId" [studentId]="studentId"></classex>
            </div>
        </div>

        <div class="tab-pane" id="schedule">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeClass()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="branch-modalLabel">{{'menu.class.Schedule' | translate}}</h4>
            </div>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="isScheduleActive" class="content-container">
                <schedulestudents [classId]="classId" [studentId]="studentId"></schedulestudents>
            </div>
        </div>

        <div class="tab-pane" id="pending">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeClass()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="branch-modalLabel">{{'menu.class.Pending' | translate}}</h4>
            </div>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="isPendingActive" class="content-container">
                <classpending [classId]="classId" [studentId]="studentId" (funcReloadData)="funcReloadDataClass()"></classpending>
            </div>
        </div>

        <div class="tab-pane" id="mark">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeClass()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="branch-modalLabel">{{'menu.class.Mark' | translate}}</h4>
            </div>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="isMarkActive" class="content-container">
                <classexamines [StudentId]="studentId" [ClassId]="classId"></classexamines>
            </div>
        </div>

        <div class="tab-pane" id="dept">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeClass()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="branch-modalLabel">{{'menu.class.Dept' | translate}}</h4>
            </div>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="isDeptActive" class="content-container">
                <iosummarizesdept [studentId]="studentId" [isShowHeader]="false"></iosummarizesdept>
            </div>
        </div>

    </div>
</div>