<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_accountant_main_accountant">{{'mainMenu.mn-finances' | translate}}</a></li>
                <li>{{'pageMain.deptslist.header' | translate}}</li>
            </ol>
        </div>
    </div>
</header>

<div class="row control-box">
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group search-box">
                <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'pageMain.deptslist.searchBox' | translate}}">></search-box>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="text-right">
                <button class="btn btn-primary" (click)="search()"><i class="fa fa-plus-circle"></i> {{'pageMain.deptslist.searchBox' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label class="control-label col-md-4">{{'label.deptslist.FromDate' | translate}}</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" bsDatepicker [(ngModel)]="fromDate">
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label class="control-label col-md-4">{{'label.deptslist.ToDate' | translate}}</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" bsDatepicker [(ngModel)]="toDate">
                </div>
            </div>
        </div>
    </div>
</div>

<div [@fadeInOut]>
    <!--DATA TABLE-->
    <ngx-datatable class="material colored-header sm table-hover"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="auto"
                   [columns]="columns"
                   [scrollbarV]="verticalScrollbar"
                   [columnMode]="'force'">
    </ngx-datatable>

    <!-- TEMPLATEs -->
    <ng-template #statusHeaderTemplate>
        <i class="fa fa-check-square-o"></i>
    </ng-template>

    <ng-template #statusTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #nameTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>

    <ng-template #descriptionTemplate let-row="row" let-value="value">
        <span attr.title="{{value}}">
            {{value}}
        </span>
    </ng-template>
    <ng-template #totalPriceTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #ReceiptFirstTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
           {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #totalPriceTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #PaymentFirstTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #TotalPricePaymentTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #TotalPriceReceiptTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #PaymentTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #ReceiptTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #EndPaymentTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #EndReceiptTemplate let-row="row" let-value="value">
        <span class="currency-pipe" attr.title="{{value | currencypipe}}">
            {{value | currencypipe}}
        </span>
    </ng-template>
    <ng-template #actionsTemplate let-row="row" let-value="value">
        <a class="btn btn-link btn-xs" routerLink="/payment/?id={{value}}" (click)="goDetails(template, row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'button.Detail' | translate}}</a>
    </ng-template>
</div>

<ng-template #template>

</ng-template>

