<div class="box box-success">
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right">
                        <button (click)="save()" class="btn btn-primary">
                            <span class="glyphicon glyphicon-floppy-disk"></span> {{'button.Save' | translate}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <!--<div class="col-md-6 no-pd">-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-3">{{'label.class.FromDate' | translate}}</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="{{'label.class.FromDate' | translate}}"
                                   bsDatepicker [(ngModel)]="pointer.fromDate"
                                   name="fromDate" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-3">{{'label.class.ToDate' | translate}}</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="{{'label.class.ToDate' | translate}}"
                                   bsDatepicker [(ngModel)]="pointer.toDate"
                                   name="toDate" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-1">{{'label.class.Note' | translate}}</label>
                        <div class="col-md-11 pd-l-10">
                            <textarea class="form-control" [(ngModel)]="pointer.note" name="note"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>

            <div class="mg-bt-10 text-center">
                <div class="form-group has-feedback">
                    <button type="button" class="btn btn-primary" (click)="addClassPending()">
                        {{'button.Add' | translate}}
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
                </div>
            </div>


            <div class="wrap-table">
                <div class="col-sm-12">
                    <div class="form-group has-feedback">
                        <div [@fadeInOut]>
                            <!--DATA TABLE-->
                            <ngx-datatable class="material colored-header sm table-hover" [loadingIndicator]="loadingIndicator" [rows]="rows" [rowHeight]="auto"
                                           [columns]="columns" [scrollbarV]="verticalScrollbar" [columnMode]="'force'">
                            </ngx-datatable>

                            <!-- TEMPLATEs -->
                            <ng-template #statusHeaderTemplate>
                                <i class="fa fa-check-square-o"></i>
                            </ng-template>

                            <ng-template #nameTemplate let-row="row" let-value="value">
                                <span attr.title="{{value}}">
                                    {{value}}
                                </span>
                            </ng-template>
                            <ng-template #actionsTemplate let-row="row">
                                <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteClasses(row)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> {{'button.Delete' | translate}}
                                </a>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>