<header class="pageHeader">
    <h3><i class="fa fa-lg page-caption" aria-hidden="true"></i> </h3>
</header>

<div [@fadeInOut]>
    <div class="statistic">
        <div class="row">
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/classes" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-success-dker hover-rotate"></i>
                        <i class="i i-cube icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.Class' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.class.Class' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/rooms" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-success-dker hover-rotate"></i>
                        <i class="fa fa-columns icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.Room' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.class.Room' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/typemateriallearns" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-success-dker hover-rotate"></i>
                        <i class="fa fa-columns icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.Learning' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.class.Learning' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/grpmateriallearns" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-success-dker hover-rotate"></i>
                        <i class="fa fa-columns icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.Levelclass' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.class.Levelclass' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/materiallearns" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-success-dker hover-rotate"></i>
                        <i class="fa fa-columns icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.MaterialLearn' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.class.MaterialLearn' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/shiftclasses" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-success-dker hover-rotate"></i>
                        <i class="fa fa-columns icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.Shiftclass' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.class.Shiftclass' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/consultants" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-success-dker hover-rotate"></i>
                        <i class="fa fa-columns icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.Consultant' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.class.Consultant' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/students" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-check-circle text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.Student' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.class.Student' | translate}}</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/iostudents" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-check-circle icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.IOStudent' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.class.IOStudent' | translate}}</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/iostudentlist" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-check-circle icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.IOStudentList' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.class.IOStudentList' | translate}}</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/payments" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-check-circle icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.Payment' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.class.Payment' | translate}}</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/Default.aspx?mod=lophoc!TKB_Statics" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="i i-calendar text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">Khóa Biểu</span>
                        <small class="text-muted text-u-c">Lịch học tuần</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/Default.aspx?mod=lophoc!thongke" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa fa-bar-chart-o text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">Thống kê</span>
                        <small class="text-muted text-u-c">Thống kê lớp học</small>
                    </span>
                </a>
            </div>




        </div>
    </div>
</div>
