<header class="pageHeader">
    <h3><i class="fa fa-lg page-caption" aria-hidden="true"></i> </h3>
</header>

<div [@fadeInOut]>
    <div class="statistic">
        <div class="row">
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/Default.aspx?mod=khoahoc!danhsach" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                        <i class="fa fa-archive text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">Chương Trình,Khóa Học</span>
                        <small class="text-muted text-u-c">Quản lý danh mục</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/Default.aspx?mod=khoahoc!khoahoc_chinhanh" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="i i-settings icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">Chương Trình</span>
                        <small class="text-muted text-u-c">Theo Cơ Sở</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/Default.aspx?mod=khoahoc!thongke_dangky" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa fa-bar-chart-o text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">Thống kê</span>
                        <small class="text-muted text-u-c">Số lượng đăng ký khóa học</small>
                    </span>
                </a>
            </div>

        </div>
    </div>
</div>