<header>
    <div class="row" style="padding-top: 15px;">
        <div class="col-xs-12" id="breadcrumb">
            <a class="show-sidebar pull-left" routerLink="/">
                <i class="fa fa-bars"></i>
            </a>
            <ol class="breadcrumb pull-left">
                <li><a routerLink="/mn_student_main_student">{{'mainMenu.mn-students' | translate}}</a></li>
                <li><a routerLink="/mn-students">{{'menu.student.Categories.Student' | translate}}</a></li>
            </ol>
        </div>
    </div>
</header>

<div [@fadeInOut]>
    <div class="statistic">
        <div class="row">
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/studentstatus" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-info-circle icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.Categories.Detail.Status' | translate}}</span>
                        <small class="text-muted text-u-c">"{{'menu.student.Categories.Detail.Status' | translate}}"</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/students" class="block padder-v hover ">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-warning hover-rotate"></i>
                        <i class="fa fa-plus text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.class.Student' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.class.Student' | translate}}</small>
                    </span>
                </a>
            </div>

            <!--<div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/iostudents" class="block padder-v hover ">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-warning hover-rotate"></i>
                        <i class="fa fa-plus text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.manage.IOStudent' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.student.manage.IOStudent' | translate}}</small>
                    </span>
                </a>
            </div>-->
            
            <!--<div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="#" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-primary hover-rotate"></i>
                        <i class="i i-history icon text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.manage.OrderClass' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.student.manage.OrderClass' | translate}}</small>
                    </span>
                </a>
            </div>


            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="#" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa fa-bar-chart-o text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.manage.TransferClass' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.student.manage.TransferClass' | translate}}</small>
                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="#" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa-save text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.manage.SaveClass' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.student.manage.SaveClass' | translate}}</small>
                    </span>
                </a>
            </div>-->

            <!--<div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="/Default.aspx?mod=hocvien!danhsach_nghihoc" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa fa-bar-chart-o text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.manage.OrderClassTemp' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.student.manage.OrderClassTemp' | translate}}</small>
                    </span>
                </a>
            </div>-->

            <div class="col-lg-4 col-md-6 m-t text-center btn-manager">
                <a routerLink="#" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                        <i class="fa fa fa-bar-chart-o text-white"></i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.manage.CheckClass' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.student.manage.CheckClass' | translate}}</small>
                    </span>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 m-t text-center btn-manager>">
                <a routerLink="/studentbirthdays" class="block padder-v hover">
                    <span class="i-s i-s-2x">
                        <i class="i i-hexagon2 i-s-base text-info hover-rotate"> </i>
                        <i class="fa fa-birthday-cake text-white" id="countbirthday" runat="server"> 0</i>
                    </span>
                    <span class="clear">
                        <span class="h3 block m-t-xs text-warning">{{'menu.student.manage.BirthdayStudent' | translate}}</span>
                        <small class="text-muted text-u-c">{{'menu.student.manage.BirthdayStudent' | translate}}</small>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
