<header class="pageHeader">
    <h3><i class="fa fa-lg page-caption" aria-hidden="true"></i> </h3>
</header>

<div [@fadeInOut]>
    <div class="statistic">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="statistic">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                            <a routerLink="/branches" class="block padder-v hover">
                                <span class="i-s i-s-2x">
                                    <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                    <i class="fa fa-list text-white"></i>
                                </span>
                                <span class="clear">
                                    <span class="h3 block m-t-xs text-warning">{{'menu.stock.Branch' | translate}}</span>
                                    <small class="text-muted text-u-c">{{'menu.stock.Branch' | translate}}</small>
                                </span>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                            <a routerLink="/stocks" class="block padder-v hover">
                                <span class="i-s i-s-2x">
                                    <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                    <i class="fa fa-list text-white"></i>
                                </span>
                                <span class="clear">
                                    <span class="h3 block m-t-xs text-warning">{{'menu.stock.Stock' | translate}}</span>
                                    <small class="text-muted text-u-c">{{'menu.stock.Branch' | translate}}</small>
                                </span>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                            <a routerLink="/units" class="block padder-v hover">
                                <span class="i-s i-s-2x">
                                    <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                    <i class="fa fa-list text-white"></i>
                                </span>
                                <span class="clear">
                                    <span class="h3 block m-t-xs text-warning">{{'menu.stock.Unit' | translate}}</span>
                                    <small class="text-muted text-u-c">"{{'menu.stock.Unit' | translate}}"</small>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                            <a routerLink="/typematerials" class="block padder-v hover">
                                <span class="i-s i-s-2x">
                                    <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                    <i class="fa fa-list text-white"></i>
                                </span>
                                <span class="clear">
                                    <span class="h3 block m-t-xs text-warning">{{'menu.stock.TypeMaterial' | translate}}</span>
                                    <small class="text-muted text-u-c">"{{'menu.stock.TypeMaterial' | translate}}"</small>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                            <a routerLink="/grpmaterials" class="block padder-v hover">
                                <span class="i-s i-s-2x">
                                    <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                    <i class="fa fa-list text-white"></i>
                                </span>
                                <span class="clear">
                                    <span class="h3 block m-t-xs text-warning">{{'menu.stock.GrpMaterial' | translate}}</span>
                                    <small class="text-muted text-u-c">"{{'menu.stock.GrpMaterial' | translate}}"</small>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 m-t text-center btn-manager ">
                            <a routerLink="/materials" class="block padder-v hover">
                                <span class="i-s i-s-2x">
                                    <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                    <i class="fa fa-list text-white"></i>
                                </span>
                                <span class="clear">
                                    <span class="h3 block m-t-xs text-warning">{{'menu.stock.Material' | translate}}</span>
                                    <small class="text-muted text-u-c">"{{'menu.stock.Material' | translate}}"</small>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                            <a routerLink="/grpsuppliers" class="block padder-v hover">
                                <span class="i-s i-s-2x">
                                    <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                    <i class="fa fa-list text-white"></i>
                                </span>
                                <span class="clear">
                                    <span class="h3 block m-t-xs text-warning">{{'menu.stock.Grpsupplier' | translate}}</span>
                                    <small class="text-muted text-u-c">"{{'menu.stock.Grpsupplier' | translate}}"</small>
                                </span>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                            <a routerLink="/suppliers" class="block padder-v hover">
                                <span class="i-s i-s-2x">
                                    <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                    <i class="fa fa-list text-white"></i>
                                </span>
                                <span class="clear">
                                    <span class="h3 block m-t-xs text-warning">{{'menu.stock.Supplier' | translate}}</span>
                                    <small class="text-muted text-u-c">"{{'menu.stock.Supplier' | translate}}"</small>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                            <a routerLink="/?mod=kho!Thongke_NhapKho" class="block padder-v hover">
                                <span class="i-s i-s-2x">
                                    <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                    <i class="i i-history icon text-white"></i>
                                </span>
                                <span class="clear">
                                    <span class="h3 block m-t-xs text-warning">Đặt hàng</span>
                                    <small class="text-muted text-u-c">"{{'menu.stock.Branch' | translate}}"</small>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 m-t text-center btn-manager">
                            <a routerLink="/?mod=kho!Thongke_XuatKho" class="block padder-v hover">
                                <span class="i-s i-s-2x">
                                    <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                    <i class="i i-history icon text-white"></i>
                                </span>
                                <span class="clear">
                                    <span class="h3 block m-t-xs text-warning">Nhập kho</span>
                                    <small class="text-muted text-u-c">"{{'menu.stock.Branch' | translate}}"</small>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
